<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>

<% content_for :head do %>
	<% unless @map_saved %>
	<% javascript_tag do %>
		$(document).ready(function(){
			selectTPOptions();
		});
		
		function selectTPOptions()
		{
			$("input.tp_cat_value").each(function(){
				
				var third_party_cat_id = $(this).val();
				if(third_party_cat_id != "")
				{
					$(this).next("select.tp_cat_select").val(third_party_cat_id);
					
				}//end if
				
			});//end each
			
			alert("Select boxes have been populated, you may now proceed :-)");
			
		}//end function selectTPOptions
	<% end %>
	<% end %>
<% end %>

<div class="std_box">
	
	<h3 class="std_box_heading">Map Subcategories to 3rd Party Categories for integration</h3>
	
	<div class="std_box_content">
		
		
		<% if @map_saved %>
		
			<div class="std_box_content_wrapper">
				<h4>The mapping was saved, we've spared you the time of rendering all those select boxes again.</h4>
				<p>If you need to get back to the mapping tool, just use the top menu ;-)</p>
			</div>
		
		<% elsif @categories.empty? %>
			
			<h3>No categories were found</h3>
		
		<% else %>
		
		
			<% form_for(:map, :url => save_map_admin_subcategories_path) do |f| %>
			  
				<div class="std_box_content_wrapper">


				<div id="cat_mapper_main_cat">

					<h3>Dormbuys</h3>

					<ul class="subcat_mgmt">
						<% for cat in @categories %>
						<li>
							<%= cat.name %>
							<ul>
							<% for subcat in cat.subcategories %>
								<% unless subcat.is_tertiary? %>
								<li>
									<span class="sub_cat_mgmt">
										<span class="image"><%= image_tag subcat.list_image.url %></span>
										<span class="name"><%= subcat.name %></span>
										<span class="clear"></span>
									</span>
									<ul>
										<% for third in subcat.all_children %>
										<li>
											<span class="sub_cat_mgmt">
												<span class="image"><%= image_tag third.list_image.url %></span>
												<span class="name"><%= third.name %></span>
												<span class="clear"></span>
											</span>
										</li>
										<% end %>
									</ul>
								</li>
								<% end %>
							<% end %>
							</ul>
						</li>
						<% end %>
					</ul>
					<div class="clear"></div>

				</div><!-- end #cat_mapper_main_cat -->



				<div id="cat_mapper_other_cats">

					<%= render :partial => 'third_party_map', :locals => {:third_party => @third_party} %>

				</div><!-- end #cat_mapper_other_cats -->
				<div class="clear"></div>


				</div><!-- end #std_box_content_wrapper -->
			
			<% end %><!-- end form -->
		
			
		
		<% end %>
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->

<% unless @map_saved %>
	<%= link_to '<span>Save</span>', 'javascript:document.forms[0].submit();', :class => 'button positive' %>
	<%= link_to '<span>Cancel</span>', admin_subcategories_path, :class => 'button negative' %>
<% end %>
