<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>

<% content_for :head do %>
	<%= javascript_include_tag 'jrails.autocomplete' %>
	<% javascript_tag do %>
		var last_auto_var_id;
		function beforeAutoComplete(e)
		{
			last_auto_var_id = jQuery(e).attr("id");
	
		}//end 
		
		function afterAutoComplete(e)
		{
			jQuery(e).parents(".field").children(".tpc_id").attr("value", last_auto_var_id);
			
		}//end
		
	<% end %>
<% end %>


<div class="std_box">
	
	<h3 class="std_box_heading">Sears 3rd Party Mappings for &quot;<%= @subcategory.name %>&quot;</h3>
	
	<div class="std_box_content">
		
		<%= render "subcategory_menu" %>
		
		<% form_for([:admin, @subcategory], :html => {:multipart => true}) do |f| %>
		  <%= f.error_messages %>
		
		
			<div class="field extralong">
				<% tpc = @subcategory.third_party_cat_obj(ThirdPartyCategory::SEARS) %>
				<% txt_val = tpc.blank? ? "" : "#{tpc.owner}: #{tpc.tree}" %>	
				<% id_val = tpc.blank? ? "" : tpc.id %>
				<%= unique_text_field_with_auto_complete :third_party_category, :tree, 
					{
						:name => "third_party_cat_search_term",
				 		:value => txt_val, 
						:class => 'textfield'
					},
					{
						:url => tpc_auto_complete_sears_tree_path
					} %>
				<label>Sears <span>(Variations: <%= tpc.third_party_variations.size rescue 'error: no Sears category' %>)</span></label>
				<%= hidden_field_tag 'subcategory[third_party_category_ids][]', id_val, :class => 'tpc_id' %>
			</div>
			<div class="clear"></div>



			
			
			<%= hidden_field_tag :end_action, "sears_map" %>

		<% end %>
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->


<%= link_to '<span>Update</span>', 'javascript:document.forms[0].submit();', :class => 'button positive' %>
<%= link_to '<span>Cancel</span>', admin_subcategories_path, :class => 'button negative' %>
