<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>


<div class="std_box">
	
	<h3 class="std_box_heading">Viewing Subcategory</h3>
	
	<div class="std_box_content">
		
		<div class="std_box_content_wrapper">
		
						<p>
			  <b>Name:</b>
			  <%=h @subcategory.name %>
			</p>

						<p>
			  <b>Description:</b>
			  <%=h @subcategory.description %>
			</p>

						<p>
			  <b>Keywords:</b>
			  <%=h @subcategory.keywords %>
			</p>

						<p>
			  <b>Category:</b>
			  <%=h @subcategory.category.name %>
			</p>

						<p>
			  <b>Parent:</b>
			  <%= @subcategory.parent ? @subcategory.parent.name : 'None' %>
			</p>

			<p>
				<b>Products:</b> <%= @subcategory.products.count %>
			</p>

						<p>
			  <b>Visible:</b>
			  <%=h @subcategory.visible ? "Yes" : "No" %>
			</p>

						<p>
			  <b>Display order:</b>
			  <%=h @subcategory.display_order %>
			</p>
			
			<p>
				<b>Image:</b><br />
				<%= image_tag(@subcategory.list_image(:original)) %>
			</p>

					
		</div><!-- end .std_box_content_wrapper -->
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->

<%= link_to '<span>Back</span>', admin_subcategories_path, :class => 'button' %>
<%= link_to '<span>Edit</span>', edit_admin_subcategory_path(@subcategory), :class => 'button' %>