
  <div class="field">
    <%= f.text_field :name, :class => 'textfield' %>
    <%= f.label :name %>
  </div>

  <div class="field">
  	<%= f.file_field :logo, :class => 'textfield file_field' %>
	<%= f.label :logo %>
  </div>

  <% unless @order_vendor.new_record? %>
  <div class="field">
  	<%= image_tag @order_vendor.logo.url %>
  </div>
  <% end %>

  <div class="clear"></div>


  <div class="field">
    <%= f.text_field :address, :class => 'textfield' %>
    <%= f.label :address %>
  </div>


  <div class="field">
    <%= f.text_field :address2, :class => 'textfield' %>
    <%= f.label :address2 %>
  </div>
  <div class="clear"></div>


  <div class="field">
    <%= f.text_field :city, :class => 'textfield' %>
    <%= f.label :city %>
  </div>


  <div class="field">
	<%= f.select :state_id, grouped_options_for_select(State.grouped_options, @order_vendor.state_id) %>
    <%= f.label :state_id %>
  </div>
  <div class="clear"></div>


  <div class="field">
    <%= f.text_field :zip_code, :class => 'textfield' %>
    <%= f.label :zip_code %>
  </div>


  <div class="field">
	<%= f.select :country_id, Country.all.collect {|c| [c.country_name, c.id]} %>
    <%= f.label :country_id %>
  </div>
  <div class="clear"></div>


  <div class="field">
    <%= f.text_field :customer_service_phone, :class => 'textfield' %>
    <%= f.label :customer_service_phone %>
  </div>


  <div class="field">
    <%= f.text_field :customer_service_email, :class => 'textfield' %>
    <%= f.label :customer_service_email %>
  </div>
  <div class="clear"></div>

<div class="field">
	<%= f.text_field :website, :class => 'textfield' %>
	<%= f.label :website %>
</div>
<div class="clear"></div>
