
  <div class="field">
    <%= f.text_field :title, :class => 'textfield' %>
    <%= f.label :title %>
  </div>
  <div class="clear"></div>


  <div class="field shorter">
    <%= f.text_field :length, :class => 'textfield' %>
    <%= f.label :length %>
  </div>


  <div class="field shorter">
    <%= f.text_field :width, :class => 'textfield' %>
    <%= f.label :width %>
  </div>


  <div class="field shorter">
    <%= f.text_field :depth, :class => 'textfield' %>
    <%= f.label :depth %>
  </div>
<div class="clear"></div>


  <div class="field shorter">
    <%= f.text_field :weight, :class => 'textfield' %>
    <%= f.label :weight %>
  </div>
  <div class="clear"></div>


  <div class="field shorter">
    <%= f.text_field :qty_onhand, :class => 'textfield' %>
    <%= f.label :qty_onhand, 'Quantity on Hand' %>
  </div>
  <div class="clear"></div>


  <div class="field check">
    <%= f.check_box :dimensional_weight, :class => "check" %>
    <%= f.label :dimensional_weight, 'Dim Weight?' %>
  </div>
  <div class="clear"></div>

