<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>


<div class="std_box">
	
	<h3 class="std_box_heading">Viewing shipping container</h3>
	
	<div class="std_box_content">
		
		<div class="std_box_content_wrapper">
		
						<p>
			  <b>Title:</b>
			  <%=h @shipping_container.title %>
			</p>

						<p>
			  <b>Length:</b>
			  <%=h @shipping_container.length %>
			</p>

						<p>
			  <b>Width:</b>
			  <%=h @shipping_container.width %>
			</p>

						<p>
			  <b>Depth:</b>
			  <%=h @shipping_container.depth %>
			</p>

						<p>
			  <b>Weight:</b>
			  <%=h @shipping_container.weight %>
			</p>

						<p>
			  <b>Qty onhand:</b>
			  <%=h @shipping_container.qty_onhand %>
			</p>

						<p>
			  <b>Dim weight:</b>
			  <%=h @shipping_container.demensional_weight %>
			</p>

					
		</div><!-- end .std_box_content_wrapper -->
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->

<%= link_to '<span>Back</span>', admin_shipping_containers_path, :class => 'button' %>
<%= link_to '<span>Edit</span>', edit_admin_shipping_container_path(@shipping_container), :class => 'button' %>