<em class="top-text">Cannot ship to PO boxes.</em>
<div class="check-box-area">
	<fieldset>
		<div class="input-box whiteRadio">
			<!--
			<input type="checkbox" name="cart[user_profile_type_id]" class="shipping_type_check"
				id="same" value="<%= Order::ADDRESS_SAME %>" <%= 'checked="checked"' if obj.user_profile_type_id == Order::ADDRESS_SAME %> />
			<label for="same">Same as billing address</label>
			-->
			<%= f.radio_button :user_profile_type_id, Order::ADDRESS_SAME, :id => 'same', :class => 'ship_meth', :onchange => 'shippingAddressPicker("same");' %>
			<%= f.label :user_profile_type_id, 'Same as billing address', :for => 'same' %>
		</div>
		<div class="input-box whiteRadio">
			<!--
			<input type="checkbox" name="cart[user_profile_type_id]" class="shipping_type_check" 
				id="ship" value="<%= Order::ADDRESS_DIFFERENT %>" <%= 'checked="checked"' if obj.user_profile_type_id == Order::ADDRESS_DIFFERENT %> />
			<label for="ship">Ship to a different address</label>
			-->
			<%= f.radio_button :user_profile_type_id, Order::ADDRESS_DIFFERENT, :id => 'ship', :class => 'ship_meth', :onchange => 'shippingAddressPicker("ship");' %>
			<%= f.label :user_profile_type_id, 'Ship to a different address', :for => 'ship' %>
		</div>
		<div class="input-box whiteRadio">
			<!--
			<input type="checkbox" name="cart[user_profile_type_id]" class="shipping_type_check" 
				id="ship2" value="<%= Order::ADDRESS_DORM %>" <%= 'checked="checked"' if obj.user_profile_type_id == Order::ADDRESS_DORM %> />
			<label for="ship2">Ship to my college dorm or college box<br /> <a href="#">Learn more about this option</a></label>
			-->
			<%= f.radio_button :user_profile_type_id, Order::ADDRESS_DORM, :id => 'ship2', :class => 'ship_meth', :onchange => 'shippingAddressPicker("ship2");' %>
			<%= f.label :user_profile_type_id, "Ship to my college dorm or college box<br /> #{link_to 'Learn more about this option', learn_ship_date_path, :class => 'learn_more_dorm_ship'}", :for => 'ship2' %>
		</div>
	</fieldset>
</div>