<div class="gift_registry_item">
	
	<% fields_for "gift_registry[gift_registry_item_attributes][]", gift_registry_item, :index => nil do |x| %>
	
		<div class="field long">
			<%= unique_text_field_with_auto_complete :product, :product_name, 
				{
					:name => "product_variation_search_term",
			 		:value => gift_registry_item.product_variation_name, 
					:class => 'textfield'
				} %>
			<%= x.hidden_field :product_variation_id, :value => "#{gift_registry_item.product_variation_id}", :class => 'product_variation_id' %>
			<%= x.label :product_variation_id %>
		</div>
		
		<div class="field shortest">
			<%= x.text_field :desired_qty, :class => 'textfield' %>
			<%= x.label :desired_qty %>
		</div>
		
		<div class="field shortest">
			<%= x.text_field :received_qty, :class => 'textfield' %>
			<%= x.label :received_qty %>
		</div>
		<div class="clear"></div>
		
		<div class="field long">
			<%= x.text_area :comments, :class => 'textfield' %>
			<%= x.label :comments %>
		</div>
			
	
		<div class="field del_link">
			<% if gift_registry_item.new_record? %>
				<%= link_to_function 'delete', "$(this).parents('.gift_registry_item').remove()" %>
			<% else %>
				<%= link_to_function 'delete', "mark_for_destroy(this, '.gift_registry_item')" %>
				<%= x.hidden_field :id %>
				<%= x.hidden_field :should_destroy, :value => "0", :class => 'should_destroy' %>
			<% end %>
		</div>
		
			
	<% end %>
	
	
<div class="clear"></div>
</div>
<!--[eo: gift_registry_item]-->
