<!-- box-holder -->
<div class="box-holder">

	<% content_for :head do %>
		<% javascript_tag do %>
		var countdown_seconds;
		var timer;
		
		$(document).ready(function(){
			countdown_seconds 	 = Number($("#countdown_seconds").text());
			setTimeLeft();
		});
		
		function setTimeLeft()
		{
			if(countdown_seconds > 0)
			{
				var h = Math.floor(countdown_seconds / 60 / 60);
				var m = Math.floor((countdown_seconds - (3600 * h)) / 60);
				var s = Math.floor(countdown_seconds - (3600 * h) - (60 * m));

				var text = leadZero(h) + ":" + leadZero(m) + ":" + leadZero(s);
				$("#countdown_clock").text(text);
				countdown_seconds = countdown_seconds - 1;
				timer = setTimeout("setTimeLeft();", 1000);

			} else {

				$("#countdown_clock").text("00:00:00");

				clearTimeout(timer);

			}//end if-else

		}//end function setTimeLeft



		function leadZero(num)
		{
			if(num >= 10)
				return num.toString();
			else
				return "0" + num.toString();

		}//end leadZero
		
		<% end %>
	<% end %>
	
	
<% if Time.now >= Time.parse("07/23/2010 00:00:00") %>

	<div class="box">
		<h2><span>DailyDeal</span></h2>
		<div class="box-content">
			
			<% if @deal.is_active? %>
				<div id="countdown_seconds" style="display: none;"><%=  @deal.seconds_left %></div>
			<% else %>
				<div id="countdown_seconds" style="display: none;"><%=   @deal.next_deal ? @deal.next_deal.seconds_until_start : 0 %></div>
			<% end %>
			
			<a href="http://dailydormdeal.com">
				<%= image_tag(@deal.main_image.url(:main)) %>
			</a>
			<em><%= @deal.is_active? ? "Time Left:" : "Next Deal:" %><span id="countdown_clock">00:00:00</span></em>
			<strong>
				<a href="http://dailydormdeal.com">
					<%= truncate @deal.title, :length => 25 %>
				</a>
			</strong>
			<p><%= truncate @deal.description, :length => 105 %></p>
			<a href="http://dailydormdeal.com" class="buy">BUY ME!!!</a>
		</div>
	</div>

<% else %>
	
	<div class="box">
		<h2><span>DailyDeal</span></h2>
		<div class="box-content">
			<a href="#"><img src="/images/img10.jpg" alt="image description" /></a>
			<em>&nbsp;<span>&nbsp;</span></em>
			<strong><a href="#">COMING SOON!!!</a></strong>
			<p>
				Keep an eye on this area for our new DailyDeal section where we'll have a killer deal every day
				and we'll sell it until its gone!
			</p>
		</div>
	</div>

<% end %>


	<div class="box other">
		<h2><span>WishList</span></h2>
		<div class="box-content">
			<%= link_to image_tag("/images/img11.jpg"), account_wish_list_path %>
			<p>
				You build it, and we'll keep tabs on all the dormelicious stuff you want.  So that one day...
			</p>
			<ul>
				<li>
					<%= link_to "Go to my List", account_wish_list_path %>
				</li>
				<li class="arrow">
					<%= link_to "Create a new List", account_wish_list_path %>
				</li>
			</ul>
		</div>
	</div>
	
	
	<div class="box other">
		<h2><span>Gift Registry</span></h2>
		<div class="box-content">
			<%= link_to image_tag("/images/middle-block-gr-back.png"), account_gift_registries_path %>
			<p>
				<!--Its as simple as 1, 2, 3: -->
				Choose what you want, alert family &amp; friends, then just
				wait for all the gifts to start pouring in.
			</p>
			<ul>
				<li>
					<%= link_to "Go to my Registry", account_gift_registries_path %>
				</li>
				<li class="arrow">
					<%= link_to "Create a new Registry", account_new_gift_registry_path %>
				</li>
			</ul>
		</div>
	</div>
	
	<!--
	<div class="box">
		<h2><span>Welcome ;)</span></h2>
		<div class="box-content">
			<span class="save">SAVE 10%</span>
			<strong class="order">On Your First Order</strong>
			<p>Brand new to the DB fam? Great! Click <a href="#">HERE</a> and we'll take 10% off your first order.</p>
		</div>
	</div>
	-->
	
	
</div>