<!-- tab-holder -->
<div class="tab-holder">
	<div class="tabset left-tabset">
		
		<%= render :partial => "front/home_banners_cat_nav" %>
		
		<%= render :partial => "front/home_banner_featured_tabs" %>
		
	</div>
	<div class="tab-area">
		
		<%= render :partial => "front/home_banner_initial" %>
		
		<%= render :partial => "front/home_banners_subcat" %>
		
		<%= render :partial => "front/home_banner_featured_banners" %>
		
	</div>
</div>