<% cat2 = Category.find(Category::BEDDING) %>
<div class="tab" id="tab2">
	<img src="/images/banners/banner-home-bedding.jpg" alt="Sheets, Comforters &amp; Pillows" />
	<div class="list">
		<strong><span><%= cat2.name %></span><em>&nbsp;</em></strong>
		<ul>
			<% cat2.visible_primary_subcategories.each_with_index do |sub,i| %>
				<% css_class = (i == 0 ? 'first' : (i == cat2.visible_primary_subcategories.size-1 ? 'last' : '')) %>
				<li class="<%= css_class %>"><%= link_to truncate(sub.name, :length => 18), sub.default_front_url %><span class="line"></span></li>
			<% end %>
		</ul>
	</div>
	<span class="tab-line line2"></span>
</div>



<% cat3 = Category.find(Category::BATH) %>
<div class="tab" id="tab3">
	<img src="/images/banners/banner-home-bath.jpg" alt="Baskets, Sandals &amp; Shower Stuff" />
	<span class="tab-line line3"></span>
	<div class="list">
		<strong><span><%= cat3.name %></span><em>&nbsp;</em></strong>
		<ul>
			<% cat3.visible_primary_subcategories.each_with_index do |sub,i| %>
				<% css_class = (i == 0 ? 'first' : (i == cat3.visible_primary_subcategories.size-1 ? 'last' : '')) %>
				<li class="<%= css_class %>"><%= link_to truncate(sub.name, :length => 18), sub.default_front_url %><span class="line"></span></li>
			<% end %>
		</ul>
	</div>
</div>



<% cat4 = Category.find(Category::LAUNDRY) %>
<div class="tab" id="tab4">
	<img src="/images/banners/banner-home-laundry.jpg" alt="Sewing, Ironing &amp; Laundrying" />
	<span class="tab-line line4"></span>
	<div class="list">
		<strong><span><%= cat4.name %></span><em>&nbsp;</em></strong>
		<ul>
			<% cat4.visible_primary_subcategories.each_with_index do |sub,i| %>
				<% css_class = (i == 0 ? 'first' : (i == cat4.visible_primary_subcategories.size-1 ? 'last' : '')) %>
				<li class="<%= css_class %>"><%= link_to truncate(sub.name, :length => 18), sub.default_front_url %><span class="line"></span></li>
			<% end %>
		</ul>
	</div>
</div>



<% cat5 = Category.find(Category::APPLIANCES) %>
<div class="tab" id="tab5">
	<img src="/images/banners/banner-home-appliances.jpg" alt="Cooking, Cleaning &amp; Communal Devices" />
	<span class="tab-line line5"></span>
	<div class="list">
		<strong><span><%= cat5.name %></span><em>&nbsp;</em></strong>
		<ul>
			<% cat5.visible_primary_subcategories.each_with_index do |sub,i| %>
				<% css_class = (i == 0 ? 'first' : (i == cat5.visible_primary_subcategories.size-1 ? 'last' : '')) %>
				<li class="<%= css_class %>"><%= link_to truncate(sub.name, :length => 18), sub.default_front_url %><span class="line"></span></li>
			<% end %>
		</ul>
	</div>
</div>



<% cat6 = Category.find(Category::FURNITURE) %>
<div class="tab" id="tab6">
	<img src="/images/banners/banner-home-furniture.jpg" alt="Seats, Stands, Shelfves &amp; Stuff" />
	<span class="tab-line line6"></span>
	<div class="list">
		<strong><span><%= cat6.name %></span><em>&nbsp;</em></strong>
		<ul>
			<% cat6.visible_primary_subcategories.each_with_index do |sub,i| %>
				<% css_class = (i == 0 ? 'first' : (i == cat6.visible_primary_subcategories.size-1 ? 'last' : '')) %>
				<li class="<%= css_class %>"><%= link_to truncate(sub.name, :length => 18), sub.default_front_url %><span class="line"></span></li>
			<% end %>
		</ul>
	</div>
</div>



<% cat7 = Category.find(Category::DECOR) %>
<div class="tab" id="tab7">
	<img src="/images/banners/banner-home-decor.jpg" alt="Lights, Rugs &amp; All-Things-Stylish" />
	<div class="list">
		<strong><span><%= cat7.name %></span><em>&nbsp;</em></strong>
		<ul>
			<% cat7.visible_primary_subcategories(13).each_with_index do |sub,i| %>
				<% css_class = (i == 0 ? 'first' : (i == cat7.visible_primary_subcategories(13).size-1 ? 'last' : '')) %>
				<li class="<%= css_class %>"><%= link_to truncate(sub.name, :length => 18), sub.default_front_url %><span class="line"></span></li>
			<% end %>
		</ul>
	</div>
	<span class="tab-line line7"></span>
</div>



<% cat8 = Category.find(Category::TECH) %>
<div class="tab" id="tab8">
	<img src="/images/banners/banner-home-space-tech.jpg" alt="Gizmos, Gadgets, &amp; Thingamajigs" />
	<span class="tab-line line8"></span>
	<div class="list">
		<strong><span><%= cat8.name %></span><em>&nbsp;</em></strong>
		<ul>
			<% cat8.visible_primary_subcategories.each_with_index do |sub,i| %>
				<% css_class = (i == 0 ? 'first' : (i == cat8.visible_primary_subcategories.size-1 ? 'last' : '')) %>
				<li class="<%= css_class %>"><%= link_to truncate(sub.name, :length => 18), sub.default_front_url %><span class="line"></span></li>
			<% end %>
		</ul>
	</div>
</div>


<% cat9 = Category.find(Category::SPACE_SAVERS) %>
<div class="tab" id="tab9">
	<img src="/images/banners/banner-home-space-save.jpg" alt="Tons of stuff for Teenie-Weenie Spaces" />
	<span class="tab-line line9"></span>
	<div class="list">
		<strong><span><%= cat9.name %></span><em>&nbsp;</em></strong>
		<ul>
			<% cat9.visible_primary_subcategories.each_with_index do |sub,i| %>
				<% css_class = (i == 0 ? 'first' : (i == cat9.visible_primary_subcategories.size-1 ? 'last' : '')) %>
				<li class="<%= css_class %>"><%= link_to truncate(sub.name, :length => 18), sub.default_front_url %><span class="line"></span></li>
			<% end %>
		</ul>
	</div>
</div>
