<!-- box-holder -->
<div class="box-holder">

	<!--
	<div class="box">
		<h2><span>DailyDeal</span></h2>
		<div class="box-content">
			<a href="#"><img src="/images/img10.jpg" alt="image description" /></a>
			<em>Time Left:<span>6:52</span></em>
			<strong><a href="#">PRODUCT NAME</a></strong>
			<p>Insert dummy copy here, to give an aidea of style and length of copy to be inserted. This is not to be read.</p>
			<a href="#" class="buy">BUY ME!!!</a>
		</div>
	</div>
	-->
	
	<div class="box">
		<h2><span>DailyDeal</span></h2>
		<div class="box-content">
			<a href="#"><img src="/images/img10.jpg" alt="image description" /></a>
			<em>&nbsp;<span>&nbsp;</span></em>
			<strong><a href="#">COMING SOON!!!</a></strong>
			<p>
				Keep an eye on this area for our new DailyDeal section where we'll have a killer deal every day
				and we'll sell it until its gone!
			</p>
		</div>
	</div>


	<div class="box other">
		<h2><span>WishList</span></h2>
		<div class="box-content">
			<%= link_to image_tag("/images/img11.jpg"), account_wish_list_path %>
			<p>
				You build it, and we'll keep tabs on all the dormelicious stuff you want.  So that one day...
			</p>
			<ul>
				<li>
					<%= link_to "Go to my List", account_wish_list_path %>
				</li>
				<li class="arrow">
					<%= link_to "Create a new List", account_wish_list_path %>
				</li>
			</ul>
		</div>
	</div>
	
	
	<div class="box other">
		<h2><span>Gift Registry</span></h2>
		<div class="box-content">
			<%= link_to image_tag("/images/middle-block-gr-back.png"), account_gift_registries_path %>
			<p>
				<!--Its as simple as 1, 2, 3: -->
				Choose what you want, alert family &amp; friends, then just
				wait for all the gifts to start pouring in.
			</p>
			<ul>
				<li>
					<%= link_to "Go to my Registry", account_gift_registries_path %>
				</li>
				<li class="arrow">
					<%= link_to "Create a new Registry", account_new_gift_registry_path %>
				</li>
			</ul>
		</div>
	</div>
	
	<!--
	<div class="box">
		<h2><span>Welcome ;)</span></h2>
		<div class="box-content">
			<span class="save">SAVE 10%</span>
			<strong class="order">On Your First Order</strong>
			<p>Brand new to the DB fam? Great! Click <a href="#">HERE</a> and we'll take 10% off your first order.</p>
		</div>
	</div>
	-->
	
	
</div>