<% content_for :head do %>
	<%= javascript_include_tag "jquery.accordion.js" %>
<% end %>

<!-- main title -->
<div class="main-title">
	<h2 class="t-customer-service">Customer Service</h2>
</div>
<!-- main holder - my stuff -->
<div class="main-holder">
	<div class="featured-products">
		<div class="title tabset">
			<ul>
				<li class="first"><a class="t-link active" href="#"><strong><img src="/images/text-how-can-you-help.png" alt="How Can We Help?" class="png" width="192" height="23" /></strong><span>&nbsp;</span></a></li>
			</ul>
		</div>
	</div>
	<!-- main content -->
	<div class="main-content">
		<div class="mcontent-b">
			<div class="columns-holder">
				<!-- main column -->
				<div id="m-column">
					<!-- main box -->
					<div class="mbox customer-service login">
						<div class="tabset">
							<%= render :partial => "customer_service_tabs" %>
						</div>
						<div class="mbox-body">
							<div class="mbox-t">
								<div class="mbox-area">
									<div class="table-box card-holder">
										<div class="table-head table-head2">
											<div>
												<strong>QUESTION</strong>
											</div>
											<div>
												<strong>ANSWER</strong>
												<span class="db">db</span>
											</div>
										</div>
										<table class="table-body table-body2">
											<tr>
												<td>
													<ul class="accordion">
														<li>
															<a href="#" class="opener">SHIPPING</a>
															<div class="slide">
																<ul class="list-question">
																	<li><a class="tab" href="#tab1" title="link1">CAN DORMBUYS.COM SHIP DIRECTLY TO MY COLLEGE OR UNIVERSITY?</a></li>
																	<li><a class="tab" href="#tab2" title="link2">HOW LONG WILL IT TAKE FOR ME TO RECEIVE MY ORDER?</a></li>
																	<li><a class="tab" href="#tab3" title="link3">WHAT WILL IT COST TO SHIP MY ORDER?</a></li>
																	<li><a class="tab" href="#tab4" title="link4">I NEED MY ORDER FAST, CAN YOU EXPEDITE MY SHIPPING?</a></li>
																	<li><a class="tab" href="#tab5" title="link5">ARE YOU ABLE TO SHIP TO HAWAII, OR TO ALASKA?</a></li>
																	<li><a class="tab" href="#tab6" title="link6">ARE YOU ABLE TO SHIP INTERNATIONALLY?</a></li>
																	<li><a class="tab" href="#tab7" title="link7">DO YOU SHIP TO PO BOXES OR APO/AE ADDRESSES?</a></li>
																</ul>
															</div>
														</li>
														<li>
															<a href="#" class="opener">ORDER STATUS</a>
															<div class="slide">
																<ul class="list-question">
																	<li><a class="tab" href="#tab8" title="link8">WHY DID I ONLY RECEIVE PART OF MY ORDER?</a></li>
																	<li><a class="tab" href="#tab9" title="link9">CAN I TRACK MY ORDER ONLINE?</a></li>
																	<li><a class="tab" href="#tab10" title="link10">HOW DO I CHANGE OR CANCEL MY ORDER?</a></li>
																	<li><a class="tab" href="#tab11" title="link11">WHAT IF I ORDER AN ITEM THAT IS OUT OF STOCK?</a></li>
																</ul>
															</div>
														</li>
														<li>
															<a href="#" class="opener">RETURNS</a>
															<div class="slide">
																<ul class="list-question">
																	<li><a class="tab" href="#tab12" title="link10">HOW DO I RETURN MY PURCHASE?</a></li>
																	<li><a class="tab" href="#tab13" title="link11">DOES DORMBUYS PAY FOR RETURN SHIPPING?</a></li>
																	<li><a class="tab" href="#tab14" title="link12">HOW LONG DOES IT TAKE FOR ME TO GET A REFUND?</a></li>
																</ul>
															</div>
														</li>
														<li>
															<a href="#" class="opener">GIFT REGISTRY &amp; WISHLIST</a>
															<div class="slide">
																<ul class="list-question">
																	<li><a class="tab" href="#tab15" title="link14">I'M A STUDENT GOING AWAY TO SCHOOL—HOW DO I TELL MY FRIENDS AND FAMILY WHAT TO GET ME?</a></li>
																	<li><a class="tab" href="#tab16" title="link15">I'M A PARENT/FRIEND TRYING TO ACCESS MY STUDENT'S GIFT REGISTRY—HOW DO I DO THAT?</a></li>
																	<li><a class="tab" href="#tab17" title="link16">WHAT IS A WISHLIST AND HOW DO I GET ONE?</a></li>
																</ul>
															</div>
														</li>
														<li>
															<a href="#" class="opener">EVERYTHING ELSE</a>
															<div class="slide">
																<ul class="list-question">
																	<li><a class="tab" href="#tab18" title="link18">DO YOU HAVE A PRINT CATALOG YOU CAN MAIL ME?</a></li>
																	<li><a class="tab" href="#tab19" title="link19">CAN I GET A DORMBUYS GIFT CARD?</a></li>
																	<li><a class="tab" href="#tab20" title="link20">WHAT IF I WANT TO ORDER SEVERAL OF THE SAME PRODUCT? ARE THERE ANY PRODUCT OR SHIPPING DISCOUNTS?</a></li>
																	<li><a class="tab" href="#tab21" title="link21">CAN YOU GIVE A DISCOUNT OR DONATIONS FOR MY HIGH SCHOOL GRADUATION/UNIVERSITY CLUB/ORGANIZATION EVENT?</a></li>
																	<li><a class="tab" href="#tab22" title="link21">DO YOU HAVE ANY PHYSICAL STORES WHERE I CAN BUY YOUR PRODUCTS?</a></li>
																</ul>
															</div>
														</li>
													</ul>
												</td>
												<td>
													<div class="answer-box">
														<em class="mark cat">(Click on a category to the left.)</em>
														<em class="mark quest">(Now click on a question.)</em>
										
														<div class="tab-content" id="tab1">
															<strong class="title">CAN DORMBUYS.COM SHIP DIRECTLY TO MY COLLEGE OR UNIVERSITY?</strong>
															<p>Absolutely! When you place your order just plug your school address into the "Ship To" section and we'll send it right to you...and fast. Dormbuys.com is dedicated to providing everything you need for your room quickly and efficiently. We will even ship your summer order to your college or university prior to your arrival, but you MUST check with your University to make sure they can store the shipment until you arrive. If you are already on-campus shipping to your college is as simple as entering your college assigned 'ship to' address within our checkout process.</p>
														</div>
														
														
														<div class="tab-content" id="tab2">
															<strong class="title">HOW LONG WILL IT TAKE FOR ME TO RECEIVE MY ORDER?</strong>
															<p>We do our best to process all orders within 24 hours and have your order on your doorstep within 7-10 business days. Some items, such as large furniture, refrigerators, trunks/footlockers, or custom bedding can take up to two weeks for delivery. If you have a question about the shipping time on a particular item, please contact our Customer Experience Staff at <%= SITE_PHONE_TOLLFREE %> or at <%= link_to "help@dormbuys.com", "mailto:help@dormbuys.com" %>. </p>
														</div>
														
														
														<div class="tab-content" id="tab3">
															<strong class="title">WHAT WILL IT COST TO SHIP MY ORDER?</strong>
															<p>The cost for shipping is directly tied in to real time FedEx shipping rates, so your shipping cost will vary based on the item(s) you order and where you live. Your shipping rates are quickly determined once you enter your zip code in our “Shipping Cost Calculator” in the shopping cart—you don't have to enter any  personal information to determine your shipping costs. Additionally, our Customer Experience Staff is always happy to help you determine your shipping costs. You can reach them at <%= link_to "help@dormbuys.com", "mailto:help@dormbuys.com" %> or <%= SITE_PHONE_TOLLFREE %>.</p>
														</div>
														
														
														<div class="tab-content" id="tab4">
															<strong class="title">I NEED MY ORDER FAST, CAN YOU EXPEDITE MY SHIPPING?</strong>
															<p>Yes! We are more than happy to offer expedited shipping services for your order. Just contact our Customer Experience Staff at <%= SITE_PHONE_TOLLFREE %>.</p>
														</div>
														
														
														<div class="tab-content" id="tab5">
															<strong class="title">ARE YOU ABLE TO SHIP TO HAWAII, OR TO ALASKA?</strong>
															<p>Yes! We do ship to all 50 United States.</p>
														</div>
														
														
														<div class="tab-content" id="tab6">
															<strong class="title">ARE YOU ABLE TO SHIP INTERNATIONALLY?</strong>
															<p>No—currently Dormbuys only ships within the United States. Although we are not able to ship internationally at this time, we are working toward expanding our shipping territory to Canada and other countries, so check back with us soon!</p>
														</div>
														
														
														<div class="tab-content" id="tab7">
															<strong class="title">DO YOU SHIP TO PO BOXES OR APO/AE ADDRESSES?</strong>
															<p>For the fastest and most efficient delivery, all of our orders are shipped via Fed-Ex and UPS and thus we are currently unable to ship to PO Boxes or APO/AE addresses. We can however ship to college post boxes, which are commonly assigned to students living in dorms. It is important to include not only the college box number, but also the street address for your college's post office to ensure on time delivery. If you have questions about how to enter your address for you order, please call our Customer Experience Staff at <%= SITE_PHONE_TOLLFREE %> or email us at <%= link_to "help@dormbuys.com", "mailto:help@dormbuys.com" %>.</p>
														</div>
														
										
														<div class="tab-content" id="tab8">
															<strong class="title">WHY DID I ONLY RECEIVE PART OF MY ORDER?</strong>
															<p>Dormbuys.com ships from warehouses throughout the United States, so  your order may have contained items shipping from different locations. If this is the case, we ship items to you in separate packages so that you get everything you ordered as soon as possible. If you only received part of your order, rest assured the remaining items should show up on your doorstep any minute. You can also track your packages by logging into the "My Account" section of the site.</p>
														</div>
														
														
														<div class="tab-content" id="tab9">
															<strong class="title">CAN I TRACK MY ORDER ONLINE?</strong>
															<p>Yes! You can view the status of your order at anytime by logging into the “My Account” section in the top right section of the page. Once we've shipped your order, you'll be able to track your packages by clicking on the tracking number, which will take you to the Fed-Ex or UPS website to follow your package as it makes it's way to you!</p>
														</div>
														
														
														<div class="tab-content" id="tab10">
															<strong class="title">HOW DO I CHANGE OR CANCEL MY ORDER?</strong>
															<p>If you find that you need to make a change to or cancel your order, please contact our Customer Experience Staff at <%= SITE_PHONE_TOLLFREE %> as soon as possible. Please be advised that some items ship soon after placement and it may not be possible to cancel. </p>
														</div>
														
														
														<div class="tab-content" id="tab11">
															<strong class="title">WHAT IF I ORDER AN ITEM THAT IS OUT OF STOCK?</strong>
															<p>While it is extremely rare than an item you order will ever be out of stock, it may happen from time to time with our most popular products. If this should happen, we will contact you to let you know when you can expect the item to ship, and find out how you want us to proceed. You may cancel a backordered item at any time before it is shipped for a full refund of the sale price and your shipping costs.</p>
														</div>
														
														
														<div class="tab-content" id="tab12">
															<strong class="title">HOW DO I RETURN MY PURCHASE?</strong>
															<p>If you aren't 100% in love with your Dormbuys purchase, you can return your item(s) for a full refund within 90 days of purchase. All returned items must be in new, unused condition and within the original packaging. </p>

															<p>To return your order, click <%= link_to "here", "/images/files/Merchandise_Return_Form.doc" %> to download our Merchandise Return Form. Complete this form, include it in your return package, and ship your return to us at:</p>
															
															<p>
															ATTN: Returns Department<br />
															<%= SITE_ADDRESS %><br />
															<%= SITE_CITY %>, <%= SITE_STATE %> <%= SITE_ZIP %>
															</p>

															<p>We do not pay for return shipping, but you are welcome to ship your return to us with the carrier of your choosing—USPS, Fed-EX, or UPS. If you need assistance with your return, please contact our customer experience staff at <%= SITE_PHONE_TOLLFREE %> or <%= link_to "help@dormbuys.com", "mailto:help@dormbuys.com" %>.</p>
														</div>
														
														

														<div class="tab-content" id="tab13">
															<strong class="title">DOES DORMBUYS PAY FOR RETURN SHIPPING?</strong>
															<p>No. We currently do not pay for return shipping, but we welcome you to send your returns to us with the carrier of your choosing. </p>
														</div>
														
														
														<div class="tab-content" id="tab14">
															<strong class="title">HOW LONG DOES IT TAKE FOR ME TO GET A REFUND?</strong>
															<p>Once we receive your order at our return center, we will inspect and process your return within 2 business days and apply your refund back to the original card the order was purchased with. Your refund should show up on your credit card statement within 2-4 days. If you you have questions about the returns process, please contact our Customer Expereince Staff at <%= link_to "help@dormbuys.com", "mailto:help@dormbuys.com" %> or <%= SITE_PHONE_TOLLFREE %> and they will be happy to assist you. </p>
														</div>
														
														
														<div class="tab-content" id="tab15">
															<strong class="title">I'M A STUDENT GOING AWAY TO SCHOOL—HOW DO I TELL MY FRIENDS AND FAMILY WHAT TO GET ME?</strong>
															<p>So, you've got graduation coming up—or your birthday, or Christmas, or Haunnakah, or St. Patrick's Day... You get the picture. You can tell your parents, friends, and family exactly what you want to outfit your room! When you are browsing the Dormbuys site and see something you want to add to your registry, just click "add to my registry." You'll then be asked to create a new registry or add your product to your existing registry. Once you've found all the goodies you want, you can direct your gift givers to the Dormbuys homepage. From there they will:</p>
															<p>
																<ol>
																	<li>Click on "Gift Registry" on the bottom left corner of the homepage.</li>
																	<li>Type in the gift recipient's name (that's you!) and select search.</li>
																	<li>They choose the items to get add to their shopping cart and checkout.</li>
																	<li>We send the stuff they bought for you to you!</li>
																</ol>
															</p>

															<p>Pretty simple way to get the stuff you want, huh? If you need any assistance in creating your registry, just call our Customer Experience Staff at <%= SITE_PHONE_TOLLFREE %>.</p>
															
														</div>
														
														
														<div class="tab-content" id="tab16">
															<strong class="title">I'M A PARENT/FRIEND TRYING TO ACCESS MY STUDENT'S GIFT REGISTRY—HOW DO I DO THAT?</strong>
															<p>Using you're student's gift registry is a great way to ensure that they are getting what they want (and need) to go away to school. Here at Dormbuys, we want to make this process as simple as possible!</p>

															<p>To access your student's registry:</p>
															<ol>
															<li>Go to the homepage at www.dormbuys.com.</li>
															<li>Click on "Gift Registry" on the bottom left corner of the homepage.</li>
															<li>Type in the gift recipient's name (that's your student) and select search.</li>
															<li>Select your student's name and the items on their registry will be pulled up for you in a convienent list.</li>
															<li>Choose the items you wish to purchase for the student and proceed to checkout.</li>
															<li>We'll send the items you bought straight to the address the student provided for the registry. </li>
															</ol>
															<p>If you need any assistance in ordering from a student's registry, just call our Customer Experience Staff at <%= SITE_PHONE_TOLLFREE %>.</p>
															
														</div>
														
														
														<div class="tab-content" id="tab17">
															<strong class="title">WHAT IS A WISHLIST AND HOW DO I GET ONE?</strong>
															<p>As a college student, we recognize that you're on a budget and can't get everything you want for your room right away. That's why we created our Wishlist. If you find an item on our site that you want to save for later, just click on "Add to Wishlist" and we'll remember that item for you. You can access your Wishlist at anytime by logging into "My Account." If you don't have an account, the Dormbuys site will give you prompts that will help you set one up for you. If you need assistance setting up or accessing your Wishlist, please contact our Customer Experience Staff at <%= SITE_PHONE_TOLLFREE %> or at <%= link_to "help@dormbuys.com", "mailto:help@dormbuys.com" %>. </p>
														</div>
														
														
														<div class="tab-content" id="tab18">
															<strong class="title">DO YOU HAVE A PRINT CATALOG YOU CAN MAIL ME?</strong>
															<p>Currently, Dormbuys.com does not have a physical catalog that we can mail. We are constantly bringing in new and exciting products—our  inventory changes so frequently that a print catalog would be out of date almost as fast as we could send it! We are always happy to assist you with any product questions; you can reach us at <%= SITE_PHONE_TOLLFREE %>. You can also enjoy our online catalog anytime at <%= link_to "www.dormbuys.com", "http://www.dormbuys.com" %>.</p>
														</div>
														
														
														<div class="tab-content" id="tab19">
															<strong class="title">CAN I GET A DORMBUYS GIFT CARD?</strong>
															<p>Yes! If you're not quite sure to get the special dorm-dweller in your life, we do have gift cards available in several styles. We can deliver your gift card via mail or email.</p>
															<p>Dormbuys Gift Cards: <%= link_to "Get one here", buy_gift_card_path %></p>
														</div>
														
														
														<div class="tab-content" id="tab20">
															<strong class="title">WHAT IF I WANT TO ORDER SEVERAL OF THE SAME PRODUCT? ARE THERE ANY PRODUCT OR SHIPPING DISCOUNTS?</strong>
															<p>If you are interested in ordering several of the SAME product you may be eligible for a BULK discount. Please e-mail <%= link_to "bulk@dormbuys.com", "mailto:bulk@dormbuys.com" %> or call <%= SITE_PHONE_TOLLFREE %> to inquire about shipping and/or product discounts. This inquiry is ONLY an option if you are purchasing the same product in larger than normal quantities. Larger than normal quantities is defined as greater than 50 units of any one given item priced under $25 or more than 20 units of items retailing over $25. We can also offer screen printing services for certain bulk order items to include an imprint, logo or image of your choice to help create a super cool and unique product for your university club, high school group, or marketing project. If you are interested in our screen printing services, please include that information in your bulk order request at <%= link_to "bulk@dormbuys.com", "mailto:bulk@dormbuys.com" %>.</p>
														</div>
														
														
														<div class="tab-content" id="tab21">
															<strong class="title">CAN YOU GIVE A DISCOUNT OR DONATIONS FOR MY HIGH SCHOOL GRADUATION/UNIVERSITY CLUB/ORGANIZATION EVENT?</strong>
															<p>We do our best to support educational and community inititives. If you would like more information on our Community Support Initiatives, please contact <%= link_to "lindsey@dormbuys.com", "mailto:lindsey@dormbuys.com" %>.</p>
														</div>
														
														<div class="tab-content" id="tab22">
															<strong class="title">DO YOU HAVE ANY PHYSICAL STORES WHERE I CAN BUY YOUR PRODUCTS?</strong>
															<p>Currently, Dormbuys.com operates exclusively as an Internet retailer. Selling online allows us to keep our overhead low and bring you great products that are priced 20-50% lower than other retailers while delivering everything you need for comfy living right to your dormstep!</p>
														</div>
														
														
													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<div class="mbox-b"></div>
						</div>
					</div>
				</div>
				<%= render :partial => "customer_service_contact" %>
			</div>
		</div>
	</div>
	<% content_for :front_footer_gift_blog do %>
		<%= render :partial => "shared/front_footer_gift_blog" %>
	<% end %>
</div>
