<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
	<title>Dormbuys.com Order Confirmation</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" link="#000000" vlink="#000000" alink="#000000">
<table width="713" align="left" cellpadding="0" cellspacing="0">
	<tr>
		<td width="713" valign="top" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/bg-header-top.jpg" width="713" height="15"></td>
	</tr>
	<tr>
		<td width="713" style="font-size:10px; line-height:12px;">
			<table width="713" cellpadding="0" cellspacing="0" border="0">
				<tr>
				<td width="496">
					<table width="496" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td width="496" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/bg-header-center.jpg" width="496" height="38"></td>
						</tr>
						<tr>
							<td width="496" style="font-size:0; line-height:0;">
								<table width="496" cellpadding="0" cellspacing="0" border="0">
									<tr>
										<td width="6" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/bg-header-left.jpg" width="6" height="17"></td>
										<td width="490" bgcolor="#eee9d1">
											<table width="490" cellpadding="0" cellspacing="0" border="0">
												<tr>
													<td width="16" style="line-height:0; font-size:0;" bgcolor="#eee9d1"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="16" height="17"></td>
													<td width="474" height="17" style="font-size:11px; line-height:13px;">
														<font face="Tahoma, Arial, sans-serif" color="#77766c" size="2" style="font-size:11px; line-height:13px;"><b>Phone:</b> 1-866-502-DORM (3676)  <b>email:</b> <a style="text-decoration:none; color:#77766c;" href="mailto:helpme@dormbuys.com"><i>helpme@dormbuys.com</i></a></font>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
				<td width="217" style="line-height:0; font-size:0;">
					<!-- main logo link -->
					<a href="http://www.dormbuys.com">
						<img border="0" src="http://www.dormbuys.com/images/html_email/logo.jpg" width="217" height="55">
					</a>
				</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="713">
			<table width="713" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="1" style="line-height:0; font-size:0;" bgcolor="#fefefe"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
					<td width="1" style="line-height:0; font-size:0;" bgcolor="#fdfdfd"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
					<td width="1" style="line-height:0; font-size:0;" bgcolor="#f9f9f9"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
					<td width="1" style="line-height:0; font-size:0;" bgcolor="#f0f0f0"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
					<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e1e1"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
					<td width="1" style="line-height:0; font-size:0;" bgcolor="#dddcd6"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
					<td width="700">
						<table width="700" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td width="700" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/text-your-friendly.jpg" width="700" height="23"></td>
							</tr>
							<tr>
								<td width="700" style="line-height:0; font-size:0;" bgcolor="#eee9d1"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="700" height="7"></td>
							</tr>
							<tr>
								<td width="700" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="700" height="6"></td>
							</tr>
							<tr>
								<td width="700">
									<table width="700" cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td width="70" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="70" height="1"></td>
											<td width="400">
												<table width="400" cellpadding="0" cellspacing="0" border="0">
													<tr>
														<td width="400" colspan="2" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/text-were.gif" width="400" height="54"></td>
													</tr>
													<tr>
														<td width="400" colspan="2" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="400" height="31"></td>
													</tr>
													<tr>
														<td width="15" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="13" height="1"></td>
														<td width="385" style="font-size:14px; line-height:18px;">
															<!-- main message body -->
															<font face="Tahoma, Arial, sans-serif" color="#666666" size="2" style="font-size:14px; line-height:18px;">
																Hey <%= @order.billing_first_name %>,<br />
																<br>
																Thanks so much for your order!<br>
																<br>
																No really. We appreciate you shopping with Dormbuys and we take serving you very seriously. Just last month, I was lucky enough to see one of my favorite bands perform, and strangely enough, one of their song-to-song segues stuck out more to me than their entire performance. Maybe it was the businessman in me, or maybe it was just the strength of the message. But either way, this is what went down.<br>
																<br>
																As the guitars and cymbals were ringing out, the lead singer stepped to the nose of the stage and said, “Ladies and Gents, we just wanted to thank you for coming out tonight. Because if it wasn’t for you, we never would’ve made it out of our garage.” And then he asked for a request from someone in the front row.<br>
																<br>
																At that moment, it occurred to me that customer service is everywhere. It’s just shown in a variety of different ways. So I just wanted to take a moment to thank you again for ordering from us, and for letting us show you what customer service means to us. From everyone here at Dormbuys, we’re thrilled to give you center stage and can’t wait for your encore.<br>
																<br>
																Hope the rest of your day goes well!
															</font>
														</td>
													</tr>
													<tr>
														<td width="400" colspan="2" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/autograph.jpg" width="161" height="38"></td>
													</tr>
													<tr>
														<td width="15" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="13" height="1"></td>
														<td width="385" style="font-size:14px; line-height:18px;">
															<font face="Tahoma, Arial, sans-serif" color="#666666" size="2" style="font-size:14px; line-height:18px;">Deryl L.Sweeney II<br>President</font>
														</td>
													</tr>
												</table>
											</td>
											<td width="26" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="30" height="1"></td>
											<td width="188" valign="top">
												<table width="188" cellpadding="0" cellspacing="0" border="0">
													<tr>
														<td width="188">
															<table width="188" cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td width="17" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/side-image01.jpg" width="17" height="118"></td>
																	<td width="1" style="line-height:0; font-size:0;" bgcolor="#c0c0c2"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																	<td width="170">
																		<table width="170" cellpadding="0" cellspacing="0" border="0">
																			<tr>
																				<td width="170" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/bg-sidebar-top.jpg" width="170" height="65"></td>
																			</tr>
																			<tr>
																				<!-- dormology image link -->
																				<td width="170" style="line-height:0; font-size:0;">
																					<a href="http://www.dormbuys.com"><img border="0" src="http://www.dormbuys.com/images/html_email/text-dormo-logy.jpg" width="170" height="46"></a>
																				</td>
																			</tr>
																			<tr>
																				<td width="170">
																					<table width="170" cellpadding="0" cellspacing="0" border="0">
																						<tr>
																							<td width="170">
																								<table width="170" cellpadding="0" cellspacing="0" border="0">
																									<tr>
																										<td width="170" colspan="3" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="170" height="3"></td>
																									</tr>
																									<tr>
																										<td width="13" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="4" height="1"></td>
																										<td width="127">
																											<table width="127" cellpadding="0" cellspacing="0" border="0">
																												<tr>
																													<td width="127" style="font-size:11px; line-height:13px;">
																														<font face="Tahoma, Arial, sans-serif" color="#808184" size="2" style="font-size:11px; line-height:13px;"><i>Get the 4-1-1 on all the collegiate happs, via your dormcentric Dormbuys Crew.</i></font>
																													</td>
																												</tr>
																												<tr>
																													<td width="127" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="127" height="4"></td>
																												</tr>
																											</table>
																										</td>
																										<td width="30" valign="bottom" align="right" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/side-bottom-image01.jpg" width="29" height="20"></td>
																									</tr>
																									<tr>
																										<td width="170" colspan="3" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="170" height="3"></td>
																									</tr>
																									<tr>
																										<td width="4" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="4" height="1"></td>
																										<td width="157" colspan="2">
																											<table width="157" cellpadding="0" cellspacing="0" border="0">
																												<tr>
																													<td width="102" style="line-height:0; font-size:0;" bgcolor="#446126"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="102" height="13"></td>
																													<td width="55" bgcolor="#364f17" align="center" height="13" style="font-size:8px; line-height:12px;">
																														
																														<!-- dormology subscribe link -->
																														<a style="text-decoration:none;" href="http://www.dormbuys.com">
																															<font face="Tahoma, Arial, sans-serif" color="#ffffff" size="2" style="font-size:8px; line-height:12px;">
																																<b>subscribe</b>
																															</font>
																														</a>
																													</td>
																												</tr>
																											</table>
																										</td>
																									</tr>
																								</table>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
													<tr>
														<td width="188">
															<table width="188" cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td width="17" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/side-image02.jpg" width="17" height="76"></td>
																	<td width="1" style="line-height:0; font-size:0;" bgcolor="#c0c0c2"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																	<td width="170">
																		<table width="170" cellpadding="0" cellspacing="0" border="0">
																			<tr>
																				<td width="170" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/separator-sidebar01.jpg" width="170" height="22"></td>
																			</tr>
																			<tr>
																				<td width="170">
																					<table width="170" cellpadding="0" cellspacing="0" border="0">
																						<tr>
																							<td width="8" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="8" height="1"></td>
																							<td width="48" style="line-height:0; font-size:0;">
																								<!-- facebook image link -->
																								<a href="http://tinyurl.com/6xtsyf">
																									<img border="0" src="http://www.dormbuys.com/images/html_email/sidebar-banner01.jpg" width="48" height="46">
																								</a>
																							</td>
																							<td width="3" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="3" height="1"></td>
																							<td width="121" style="font-size:13px; line-height:15px;">
																								
																								<!-- facebook text link -->
																								<a style="text-decoration:none;" href="http://tinyurl.com/6xtsyf">
																									<font face="Tahoma, Arial, sans-serif" color="#808184" size="2" style="font-size:12px; line-height:14px;">
																										<b>Become a fan<br>on Facebook</b>
																									</font>
																								</a>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																			<tr>
																				<td width="170">
																					<table width="170" cellpadding="0" cellspacing="0" border="0">
																						<tr>
																							<td width="170">
																								<table width="170" cellpadding="0" cellspacing="0" border="0">
																									<tr>
																										<td width="170" colspan="3" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="170" height="3"></td>
																									</tr>
																									<tr>
																										<td width="13" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="4" height="1"></td>
																										<td width="127">
																											<table width="127" cellpadding="0" cellspacing="0" border="0">
																												<tr>
																													<td width="127" style="font-size:11px; line-height:13px;">
																														<font face="Tahoma, Arial, sans-serif" color="#808184" size="2" style="font-size:11px; line-height:13px;"><i>Our fan page is chock full ‘o cool stuff that just might help you make it to graduation.</i></font>
																													</td>
																												</tr>
																												<tr>
																													<td width="127" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="127" height="4"></td>
																												</tr>
																											</table>
																										</td>
																										<td width="30" valign="bottom" align="right" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/side-bottom-image02.jpg" width="28" height="31"></td>
																									</tr>
																									<tr>
																										<td width="170" colspan="3" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="170" height="3"></td>
																									</tr>
																									<tr>
																										<td width="4" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="4" height="1"></td>
																										<td width="157" colspan="2">
																											<table width="157" cellpadding="0" cellspacing="0" border="0">
																												<tr>
																													<td width="102" style="line-height:0; font-size:0;" bgcolor="#446126"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="102" height="13"></td>
																													<td width="55" bgcolor="#364f17" align="center" height="13" style="font-size:8px; line-height:12px;">
																														
																														<!-- secondary facebook text link -->
																														<a style="text-decoration:none;" href="http://tinyurl.com/6xtsyf">
																															<font face="Tahoma, Arial, sans-serif" color="#ffffff" size="2" style="font-size:8px; line-height:12px;">
																																<b>fan it up</b>
																															</font>
																														</a>
																													</td>
																												</tr>
																											</table>
																										</td>
																									</tr>
																								</table>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
													<tr>
														<td width="188">
															<table width="188" cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td width="17" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/side-image03.jpg" width="17" height="76"></td>
																	<td width="1" style="line-height:0; font-size:0;" bgcolor="#c0c0c2"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																	<td width="170">
																		<table width="170" cellpadding="0" cellspacing="0" border="0">
																			<tr>
																				<td width="170" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/separator-sidebar02.jpg" width="170" height="29"></td>
																			</tr>
																			<tr>
																				<td width="170">
																					<table width="170" cellpadding="0" cellspacing="0" border="0">
																						<tr>
																							<td width="8" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="8" height="1"></td>
																							<td width="48" style="line-height:0; font-size:0;">
																								<!-- twitter icon link -->
																								<a href="http://twitter.com/dormbuys"><img border="0" src="http://www.dormbuys.com/images/html_email/sidebar-banner02.jpg" width="48" height="46"></a>
																							</td>
																							<td width="124" style="font-size:13px; line-height:15px;">
																								
																								<!-- twitter text link -->
																								<a style="text-decoration:none;" href="http://twitter.com/dormbuys">
																									<font face="Tahoma, Arial, sans-serif" color="#808184" size="2" style="font-size:12px; line-height:14px;">
																										<b>Follow @dormbuys on Twitter</b>
																									</font>
																								</a>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																			<tr>
																				<td width="170">
																					<table width="170" cellpadding="0" cellspacing="0" border="0">
																						<tr>
																							<td width="170">
																								<table width="170" cellpadding="0" cellspacing="0" border="0">
																									<tr>
																										<td width="170" colspan="3" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="170" height="3"></td>
																									</tr>
																									<tr>
																										<td width="13" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="4" height="1"></td>
																										<td width="127">
																											<table width="127" cellpadding="0" cellspacing="0" border="0">
																												<tr>
																													<td width="127" style="font-size:11px; line-height:13px;">
																														<font face="Tahoma, Arial, sans-serif" color="#808184" size="2" style="font-size:11px; line-height:13px;"><i>Ask questions, make suggestions, or just chat. This is NOT a one-way conversation.</i></font>
																													</td>
																												</tr>
																												<tr>
																													<td width="127" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="127" height="4"></td>
																												</tr>
																											</table>
																										</td>
																										<td width="30" valign="bottom" align="right" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/side-bottom-image03.jpg" width="28" height="31"></td>
																									</tr>
																									<tr>
																										<td width="170" colspan="3" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="170" height="3"></td>
																									</tr>
																									<tr>
																										<td width="4" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="4" height="1"></td>
																										<td width="157" colspan="2">
																											<table width="157" cellpadding="0" cellspacing="0" border="0">
																												<tr>
																													<td width="102" style="line-height:0; font-size:0;" bgcolor="#446126"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="102" height="13"></td>
																													<td width="55" bgcolor="#364f17" align="center" height="13" style="font-size:8px; line-height:12px;">
																														
																														<!-- secondary twitter text link -->
																														<a style="text-decoration:none;" href="http://twitter.com/dormbuys">
																															<font face="Tahoma, Arial, sans-serif" color="#ffffff" size="2" style="font-size:8px; line-height:12px;">
																																<b>follow</b>
																															</font>
																														</a>
																														
																													</td>
																												</tr>
																											</table>
																										</td>
																									</tr>
																								</table>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
													<tr>
														<td width="188">
															<table width="188" cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td width="17" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/side-image04.jpg" width="17" height="76"></td>
																	<td width="1" style="line-height:0; font-size:0;" bgcolor="#c0c0c2"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																	<td width="170">
																		<table width="170" cellpadding="0" cellspacing="0" border="0">
																			<tr>
																				<td width="170" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/separator-sidebar03.jpg" width="170" height="27"></td>
																			</tr>
																			<tr>
																				<td width="170">
																					<table width="170" cellpadding="0" cellspacing="0" border="0">
																						<tr>
																							<td width="8" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="8" height="1"></td>
																							<td width="48" style="line-height:0; font-size:0;">
																								<!-- db blog link -->
																								<a href="http://www.dormbuys.com/2east"><img border="0" src="http://www.dormbuys.com/images/html_email/sidebar-banner03.jpg" width="48" height="46"></a>
																							</td>
																							<td width="3" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="3" height="1"></td>
																							<td width="121" style="font-size:13px; line-height:15px;">
																								<!-- db blog text link -->
																								<a style="text-decoration:none;" href="http://www.dormbuys.com/2east">
																									<font face="Tahoma, Arial, sans-serif" color="#808184" size="2" style="font-size:12px; line-height:14px;">
																										<b>Check out our blog at 2East</b>
																									</font>
																								</a>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																			<tr>
																				<td width="170">
																					<table width="170" cellpadding="0" cellspacing="0" border="0">
																						<tr>
																							<td width="170">
																								<table width="170" cellpadding="0" cellspacing="0" border="0">
																									<tr>
																										<td width="170" colspan="3" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="170" height="3"></td>
																									</tr>
																									<tr>
																										<td width="13" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="4" height="1"></td>
																										<td width="127">
																											<table width="127" cellpadding="0" cellspacing="0" border="0">
																												<tr>
																													<td width="127" style="font-size:11px; line-height:13px;">
																														<font face="Tahoma, Arial, sans-serif" color="#808184" size="2" style="font-size:11px; line-height:13px;"><i>Your place to learn about college living, get design tips for your dorm, and procrastinate on studies. Not that we endorse procrastination.</i></font>
																													</td>
																												</tr>
																												<tr>
																													<td width="127" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="127" height="4"></td>
																												</tr>
																											</table>
																										</td>
																										<td width="30" valign="bottom" align="right" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/side-bottom-image04.jpg" width="14" height="23"></td>
																									</tr>
																									<tr>
																										<td width="170" colspan="3" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="170" height="3"></td>
																									</tr>
																									<tr>
																										<td width="4" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="4" height="1"></td>
																										<td width="157" colspan="2">
																											<table width="157" cellpadding="0" cellspacing="0" border="0">
																												<tr>
																													<td width="102" style="line-height:0; font-size:0;" bgcolor="#446126"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="102" height="13"></td>
																													<td width="55" bgcolor="#364f17" align="center" height="13" style="font-size:8px; line-height:12px;">
																														
																														<!-- secondary db blog text link -->
																														<a style="text-decoration:none;" href="http://www.dormbuys.com/2east">
																															<font face="Tahoma, Arial, sans-serif" color="#ffffff" size="2" style="font-size:8px; line-height:12px;">
																																<b>go 2 blog</b>
																															</font>
																														</a>
																													</td>
																												</tr>
																											</table>
																										</td>
																									</tr>
																								</table>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
													<tr>
														<td width="188">
															<table width="188" cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td width="17" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/side-image05.jpg" width="17" height="76"></td>
																	<td width="1" style="line-height:0; font-size:0;" bgcolor="#c0c0c2"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																	<td width="170">
																		<table width="170" cellpadding="0" cellspacing="0" border="0">
																			<tr>
																				<td width="170" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/separator-sidebar04.jpg" width="170" height="29"></td>
																			</tr>
																			<tr>
																				<td width="170" style="line-height:0; font-size:0;">
																					<!-- gift cards graphic link -->
																					<a href="http://www.dormbuys.com/shop/subcategory/147"><img border="0" src="http://www.dormbuys.com/images/html_email/sidebar-banner04.jpg" width="170" height="121"></a>
																				</td>
																			</tr>
																			<tr>
																				<td width="170">
																					<table width="170" cellpadding="0" cellspacing="0" border="0">
																						<tr>
																							<td width="170">
																								<table width="170" cellpadding="0" cellspacing="0" border="0">
																									<tr>
																										<td width="170" colspan="3" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="170" height="3"></td>
																									</tr>
																									<tr>
																										<td width="13" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="4" height="1"></td>
																										<td width="127">
																											<table width="127" cellpadding="0" cellspacing="0" border="0">
																												<tr>
																													<td width="127" style="font-size:11px; line-height:13px;">
																														<font face="Tahoma, Arial, sans-serif" color="#808184" size="2" style="font-size:11px; line-height:13px;"><i>Because no one appreciates cold, hard cash as much as a college student does.</i></font>
																													</td>
																												</tr>
																												<tr>
																													<td width="127" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="127" height="4"></td>
																												</tr>
																											</table>
																										</td>
																										<td width="30" valign="bottom" align="right" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/side-bottom-image05.jpg" width="30" height="23"></td>
																									</tr>
																									<tr>
																										<td width="170" colspan="3" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="170" height="3"></td>
																									</tr>
																									<tr>
																										<td width="4" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="4" height="1"></td>
																										<td width="157" colspan="2">
																											<table width="157" cellpadding="0" cellspacing="0" border="0">
																												<tr>
																													<td width="102" style="line-height:0; font-size:0;" bgcolor="#446126"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="102" height="13"></td>
																													<td width="55" bgcolor="#364f17" align="center" height="13" style="font-size:8px; line-height:12px;">
																														<!-- gift cards text link -->
																														<a style="text-decoration:none;" href="http://www.dormbuys.com/shop/subcategory/147"><font face="Tahoma, Arial, sans-serif" color="#ffffff" size="2" style="font-size:8px; line-height:12px;"><b>get one</b></font></a>
																													</td>
																												</tr>
																											</table>
																										</td>
																									</tr>
																									<tr>
																										<td width="161" colspan="3" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="157" height="9"></td>
																									</tr>
																								</table>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
											<td width="12" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="12" height="1"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width="700" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/separator-data.jpg" width="700" height="2"></td>
							</tr>
							<tr>
								<td width="700" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="700" height="26"></td>
							</tr>
							<tr>
								<td width="700">
									<table width="700" cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td width="72" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
											<td width="559">
												<table width="559" cellpadding="0" cellspacing="0" border="0">
													<tr>
														<td width="559" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/bg-clipboard-top.jpg" width="559" height="35"></td>
													</tr>
													<tr>
														<td width="559">
															<table width="559" cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td width="213" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/bg-clipboard-left.jpg" width="213" height="23"></td>
																	<td width="130" style="line-height:0; font-size:0;">
																		<!-- clipboard logo link -->
																		<a href="http://www.dormbuys.com"><img border="0" src="http://www.dormbuys.com/images/html_email/logo-clipboard.jpg" width="130" height="23"></a>
																	</td>
																	<td width="216" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/bg-clipboard-right.jpg" width="216" height="23"></td>
																</tr>
															</table>
														</td>
													</tr>
													<tr>
														<td width="559" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/bg-clipboard-bottom.jpg" width="559" height="20"></td>
													</tr>
													<tr>
														<td width="559">
															<table width="559" cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td width="17" style="line-height:0; font-size:0;" bgcolor="#000000"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																	<td width="521" bgcolor="#fbfbfb">
																		<table width="521" cellpadding="0" cellspacing="0" border="0">
																			<tr>
																				<td width="521">
																					<table width="521" cellpadding="0" cellspacing="0" border="0">
																						<tr>
																							<td width="18" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="18" height="1"></td>
																							<td width="145">
																								<table width="145" cellpadding="0" cellspacing="0" border="0">
																									<tr>
																										<td width="145">
																											<table width="145" cellpadding="0" cellspacing="0" border="0">
																												<tr>
																													<td width="15" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/bg-box-top-left.jpg" width="15" height="15"></td>
																													<td width="115">
																														<table width="115" cellpadding="0" cellspacing="0" border="0">
																															<tr>
																																<td width="115" style="line-height:0; font-size:0;" bgcolor="#dadbdc"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="115" height="2"></td>
																															</tr>
																															<tr>
																																<td width="115" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="115" height="13"></td>
																															</tr>
																														</table>
																													</td>
																													<td width="15" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/bg-box-top-right.jpg" width="15" height="15"></td>
																												</tr>
																											</table>
																										</td>
																									</tr>
																									<tr>
																										<td width="145">
																											<table width="145" cellpadding="0" cellspacing="0" border="0">
																												<tr>
																													<td width="2" style="line-height:0; font-size:0;" bgcolor="#dadbdc"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="10" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="10" height="1"></td>
																													<td width="125" style="font-size:10px; line-height:12px;">
																														<font face="Tahoma, Arial, sans-serif" color="#808184" size="2" style="font-size:11px; line-height:13px;"><b>SHIP TO:</b><br></font>
																														<!-- DB_ORDER customer_address -->
																														<font face="Tahoma, Arial, sans-serif" color="#000000" size="2" style="font-size:11px; line-height:13px;">
																															<% if @order.user_profile_type_id == Order::ADDRESS_SAME %>

																																<%= @order.billing_first_name %> <%= @order.billing_last_name %><br />
																																<%= @order.billing_address %><br />

																																<% unless @order.billing_address2.blank? %>
																																	<%= @order.billing_address2 %><br />
																																<% end %>

																																<%= @order.billing_city %>, <%= State.find(@order.billing_state_id).abbreviation %> <br />
																																<%= @order.billing_zipcode %><br />
																																<%= Country.find(@order.billing_country_id).country_name %><br />

																															<% elsif @order.user_profile_type_id == Order::ADDRESS_DIFFERENT %>

																																<%= @order.shipping_first_name %> <%= @order.shipping_last_name %><br />
																																<%= @order.shipping_address %><br />

																																<% unless @order.shipping_address2.blank? %>
																																	<%= @order.shipping_address2 %><br />
																																<% end %>

																																<%= @order.shipping_city %>, <%= State.find(@order.shipping_state_id).abbreviation %> <br />
																																<%= @order.shipping_zipcode %><br />
																																<%= Country.find(@order.shipping_country_id).country_name %><br />
																																Phone: <%= @order.shipping_phone %><br />

																															<% elsif @order.user_profile_type_id == Order::ADDRESS_DORM %>

																																<%= @order.shipping_first_name %> <%= @order.shipping_last_name %><br />
																																<%= @order.dorm_ship_college_name %><br />
																																<%= @order.shipping_address %><br />

																																<% unless @order.shipping_address2.blank? %>

																																	<% unless @order.dorm_ship_not_part %>

																																		<%= @order.shipping_address2 %><br />

																																	<% end %>

																																<% end %>

																																<%= @order.shipping_city %>, <%= State.find(@order.shipping_state_id).abbreviation %> 
																																<%= @order.shipping_zipcode %><br />
																																<%= Country.find(@order.shipping_country_id).country_name %><br />
																																Phone: <%= @order.shipping_phone %>

																															<% end %>
																														</font>
																													</td>
																													<td width="6" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="2" style="line-height:0; font-size:0;" bgcolor="#dadbdc"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																												</tr>
																											</table>
																										</td>
																									</tr>
																									<tr>
																										<td width="145">
																											<table width="145" cellpadding="0" cellspacing="0" border="0">
																												<tr>
																													<td width="15" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/bg-box-bottom-left.jpg" width="15" height="15"></td>
																													<td width="115">
																														<table width="115" cellpadding="0" cellspacing="0" border="0">
																															<tr>
																																<td width="115" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="115" height="14"></td>
																															</tr>
																															<tr>
																																<td width="115" style="line-height:0; font-size:0;" bgcolor="#dadbdc"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="115" height="1"></td>
																															</tr>
																														</table>
																													</td>
																													<td width="15" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/bg-box-bottom-right.jpg" width="15" height="15"></td>
																												</tr>
																											</table>
																										</td>
																									</tr>
																								</table>
																							</td>
																							<td width="337" valign="top" align="right" style="font-size:11px; line-height:13px;">
																								<table width="337" cellpadding="0" cellspacing="0" border="0">
																									<tr>
																										<td width="337" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="338" height="8"></td>
																									</tr>
																									<tr>
																										<td width="337" align="right" valign="top" style="font-size:10px; line-height:12px;">
																											<font face="Tahoma, Arial, sans-serif" color="#808184" size="2" style="font-size:11px; line-height:14px;"><b>ORDER DATE/TIME:</b><br></font>
																											<!-- DB_ORDER timestamp -->
																											<font face="Tahoma, Arial, sans-serif" color="#000000" size="2" style="font-size:11px; line-height:14px;">
																												<%= @order.order_date.strftime("%m/%d/%Y %I:%M %p") %><br><br>
																											</font>
																											<font face="Tahoma, Arial, sans-serif" color="#808184" size="2" style="font-size:11px; line-height:14px;"><b>YOUR ORDER ID:</b><br></font>
																											<!-- DB_ORDER order_number -->
																											<font face="Tahoma, Arial, sans-serif" color="#000000" size="2" style="font-size:11px; line-height:14px;">
																												<%= @order.order_id %>
																											</font>
																										</td>
																									</tr>
																								</table>
																							</td>
																							<td width="20" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="20" height="1"></td>
																						</tr>
																						<tr>
																							<td width="18" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="18" height="1"></td>
																							<td width="482" colspan="2">
																								<table width="482" cellpadding="0" cellspacing="0" border="0">
																									<tr>
																													<td width="482" colspan="2" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="145" height="11"></td>
																									</tr>
																									<tr>
																										<td width="8" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="8" height="1"></td>
																										<td width="474" style="font-size:10px; line-height:12px;">
																											<font face="Tahoma, Arial, sans-serif" color="#808184" size="2" style="font-size:11px; line-height:12px;">
																												<b>YOUR CUSTOMER ID:</b><br>
																												<!-- DB_ORDER customer_email -->
																												<a style="text-decoration:none;" href="mailto:<%= @order.email %>">
																													<font face="Tahoma, Arial, sans-serif" color="#000000" size="2" style="font-size:10px; line-height:12px;">
																														<%= @order.email %>
																													</font>
																												</a>
																											</font>
																										</td>
																									</tr>
																								</table>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																			<tr>
																				<td width="520" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/text-receipt.jpg" width="520" height="80"></td>
																			</tr>
																			<tr>
																				<td width="520">
																					<table width="520" cellpadding="0" cellspacing="0" border="0">
																						<tr>
																							<td width="27" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="27" height="1"></td>
																							<td width="465">
																								<table width="465" cellpadding="0" cellspacing="0" border="0">
																									<tr>
																										<td width="465">
																											<table width="465" cellpadding="0" cellspacing="0" border="0">
																												<tr>
																													<td width="465" colspan="14" style="line-height:0; font-size:0;" bgcolor="#ced3c5"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="465" height="1"></td>
																												</tr>
																												<tr>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="28" align="center" bgcolor="#455a21" style="font-size:10px; line-height:12px;">
																														<font face="Tahoma, Arial, sans-serif" color="#ffffff" size="2" style="font-size:10px; line-height:12px;">QTY</font>
																													</td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="2" height="14" style="line-height:0; font-size:0;" bgcolor="#455a21"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="318" bgcolor="#455a21" style="font-size:10px; line-height:12px;">
																														<font face="Tahoma, Arial, sans-serif" color="#ffffff" size="2" style="font-size:10px; line-height:12px;">Title</font>
																													</td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;" bgcolor="#455a21"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="52" align="center" bgcolor="#455a21" style="font-size:10px; line-height:12px;">
																														<font face="Tahoma, Arial, sans-serif" color="#ffffff" size="2" style="font-size:10px; line-height:12px;">Unit Price</font>
																													</td>
																													<td width="3" height="14" style="line-height:0; font-size:0;" bgcolor="#455a21"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;" bgcolor="#455a21"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="50" align="center" bgcolor="#455a21" style="font-size:10px; line-height:12px;">
																														<font face="Tahoma, Arial, sans-serif" color="#ffffff" size="2" style="font-size:10px; line-height:12px;">QTY Total</font>
																													</td>
																													<td width="3" height="14" style="line-height:0; font-size:0;" bgcolor="#455a21"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																												</tr>
																												<tr>
																													<td width="465" colspan="14" style="line-height:0; font-size:0;" bgcolor="#ced3c5"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="465" height="1"></td>
																												</tr>
																												<!-- DB_ORDER order_line_item -->
																												<% for order_line_item in @order.order_line_items -%>
																												<tr>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="28" align="center" style="font-size:10px; line-height:12px;">
																														<!-- DB_ORDER oli quantity -->
																														<font face="Tahoma, Arial, sans-serif" color="#808285" size="2" style="font-size:10px; line-height:12px;">
																															<%=h order_line_item.quantity %>
																														</font>
																													</td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="2" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="318" style="font-size:10px; line-height:12px;">
																														<!-- DB_ORDER oli description -->
																														<font face="Tahoma, Arial, sans-serif" color="#808285" size="2" style="font-size:10px; line-height:12px;">
																															<%=h order_line_item.item_name %>
																															
																															<% if order_line_item.order_line_item_discounts.size > 0 -%>
																																<br>&nbsp;&nbsp;&nbsp;<i>Discount:</i>
																																<%=h order_line_item.order_line_item_discounts.first.discount_message %> @ 
																																$<%= number_to_currency order_line_item.order_line_item_discounts.first.discount_amount %>
																															<% end -%>
																															
																															<% if order_line_item.order_line_item_options.size > 0 -%>
																																<br>&nbsp;&nbsp;&nbsp;<i>Options: </i><%= order_line_item.order_line_item_options.collect{|ov| "#{ov.option_name.capitalize}: #{ov.option_value.capitalize}"}.join(", ") %>
																															<% end -%>
																															<% if order_line_item.order_line_item_product_as_options.size > 0 -%>
																																<br>&nbsp;&nbsp;&nbsp;<i>Product Additions: </i> <%= order_line_item.order_line_item_product_as_options.collect {|paov| "#{paov.option_name.capitalize}: #{paov.product_name}"}.join(", ") %>
																															<% end -%>
																														</font>
																													</td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" bgcolor="#f0f1d9" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="52" bgcolor="#f0f1d9" align="right" style="font-size:10px; line-height:12px;">
																														<!-- DB_ORDER oli unit price -->
																														<font face="Tahoma, Arial, sans-serif" color="#808285" size="2" style="font-size:10px; line-height:12px;">
																															<%= number_to_currency order_line_item.unit_price %>
																															
																															<% if order_line_item.order_line_item_options.size > 0 -%>
																																<% 
																																	ov_price_adj = Money.new(0) 
																																	order_line_item.order_line_item_options.each {|ov| ov_price_adj += ov.price_increase} 
																																-%>
																																<br />(<%= "#{ov_price_adj.cents >= 0 ? '+' : '-'}#{ov_price_adj}" %>)
																															<% end -%>
																															<% if order_line_item.order_line_item_product_as_options.size > 0 -%>
																															<%
																																paov_price_adj = Money.new(0)
																																order_line_item.order_line_item_product_as_options.each {|paov| paov_price_adj += paov.price}
																															-%>
																																<br>(+<%= paov_price_adj %>)
																															<% end -%>
																														</font>
																													</td>
																													<td width="3" bgcolor="#f0f1d9" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="50" align="right" style="font-size:10px; line-height:12px;">
																														<!-- DB_ORDER oli total price -->
																														<font face="Tahoma, Arial, sans-serif" color="#808285" size="2" style="font-size:10px; line-height:12px;">
																															<%= number_to_currency order_line_item.total %>
																														</font>
																													</td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																												</tr>
																												<tr>
																													<td width="465" colspan="14" style="line-height:0; font-size:0;" bgcolor="#ced3c5"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="465" height="1"></td>
																												</tr>
																												<% end -%>
																												<tr>
																													<td width="465" colspan="14" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="465" height="6"></td>
																												</tr>
																											</table>
																										</td>
																									</tr>
																									<tr>
																										<td width="465">
																											<!-- DB_ORDER order_totals -->
																											<table width="465" cellpadding="0" cellspacing="0" border="0">
																												<tr>
																													<td width="350" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="350" height="1"></td>
																													<td width="115" colspan="9" style="line-height:0; font-size:0;" bgcolor="#d4d5d6"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="115" height="1"></td>
																												</tr>
																												<tr>
																													<td width="350" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;" bgcolor="#5c8727"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="52" align="right" bgcolor="#5c8727" style="font-size:10px; line-height:12px;">
																														<font face="Tahoma, Arial, sans-serif" color="#ffffff" size="2" style="font-size:9px; line-height:12px;">Sub Total:</font>
																													</td>
																													<td width="1" bgcolor="#5c8727" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="50" align="right" style="font-size:10px; line-height:12px;">
																														<!-- DB_ORDER total subtotal -->
																														<font face="Tahoma, Arial, sans-serif" color="#888a8c" size="2" style="font-size:10px; line-height:12px;">
																															$<%= @order.subtotal %>
																														</font>
																													</td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																												</tr>
																												<tr>
																													<td width="350" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="350" height="1"></td>
																													<td width="115" colspan="9" style="line-height:0; font-size:0;" bgcolor="#d4d5d6"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="115" height="1"></td>
																												</tr>
																												<tr>
																													<td width="350" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;" bgcolor="#f0f1d9"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="52" align="right" bgcolor="#f0f1d9" style="font-size:10px; line-height:12px;">
																														<font face="Tahoma, Arial, sans-serif" color="#808285" size="2" style="font-size:10px; line-height:12px;">Coupons:</font>
																													</td>
																													<td width="1" bgcolor="#f0f1d9" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="50" align="right" style="font-size:10px; line-height:12px;">
																														<!-- DB_ORDER total coupons -->
																														<font face="Tahoma, Arial, sans-serif" color="#888a8c" size="2" style="font-size:10px; line-height:12px;">
																															($<%= @order.total_coupon  %>)
																														</font>
																													</td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																												</tr>
																												<tr>
																													<td width="350" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="350" height="1"></td>
																													<td width="115" colspan="9" style="line-height:0; font-size:0;" bgcolor="#d4d5d6"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="115" height="1"></td>
																												</tr>
																												<tr>
																													<td width="350" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;" bgcolor="#f0f1d9"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="52" align="right" bgcolor="#f0f1d9" style="font-size:10px; line-height:12px;">
																														<font face="Tahoma, Arial, sans-serif" color="#808285" size="2" style="font-size:10px; line-height:12px;">Discounts:</font>
																													</td>
																													<td width="1" bgcolor="#f0f1d9" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="50" align="right" style="font-size:10px; line-height:12px;">
																														<!-- DB_ORDER order discounts -->
																														<font face="Tahoma, Arial, sans-serif" color="#888a8c" size="2" style="font-size:10px; line-height:12px;">
																															($<%= @order.total_discounts %>)
																														</font>
																													</td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																												</tr>
																												<tr>
																													<td width="350" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="350" height="1"></td>
																													<td width="115" colspan="9" style="line-height:0; font-size:0;" bgcolor="#d4d5d6"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="115" height="1"></td>
																												</tr>
																												<tr>
																													<td width="350" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;" bgcolor="#f0f1d9"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="52" align="right" bgcolor="#f0f1d9" style="font-size:10px; line-height:12px;">
																														<font face="Tahoma, Arial, sans-serif" color="#808285" size="2" style="font-size:10px; line-height:12px;">Tax:</font>
																													</td>
																													<td width="1" bgcolor="#f0f1d9" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="50" align="right" style="font-size:10px; line-height:12px;">
																														<!-- DB_ORDER order tax -->
																														<font face="Tahoma, Arial, sans-serif" color="#888a8c" size="2" style="font-size:10px; line-height:12px;">
																															$<%= @order.tax  %>
																														</font>
																													</td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																												</tr>
																												<tr>
																													<td width="350" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="350" height="1"></td>
																													<td width="115" colspan="9" style="line-height:0; font-size:0;" bgcolor="#d4d5d6"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="115" height="1"></td>
																												</tr>
																												<tr>
																													<td width="350" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;" bgcolor="#f0f1d9"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="52" align="right" bgcolor="#f0f1d9" style="font-size:10px; line-height:12px;">
																														<font face="Tahoma, Arial, sans-serif" color="#808285" size="2" style="font-size:10px; line-height:12px;">Shipping:</font>
																													</td>
																													<td width="1" bgcolor="#f0f1d9" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="50" align="right" style="font-size:10px; line-height:12px;">
																														<!-- DB_ORDER order shipping -->
																														<font face="Tahoma, Arial, sans-serif" color="#888a8c" size="2" style="font-size:10px; line-height:12px;">
																															$<%= @order.shipping  %>
																														</font>
																													</td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																												</tr>
																												<tr>
																													<td width="350" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="350" height="1"></td>
																													<td width="115" colspan="9" style="line-height:0; font-size:0;" bgcolor="#d4d5d6"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="115" height="1"></td>
																												</tr>
																												<tr>
																													<td width="350" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;" bgcolor="#f0f1d9"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="52" align="right" bgcolor="#f0f1d9" style="font-size:10px; line-height:12px;">
																														<font face="Tahoma, Arial, sans-serif" color="#808285" size="2" style="font-size:10px; line-height:12px;">Gift Cards:</font>
																													</td>
																													<td width="1" bgcolor="#f0f1d9" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="50" align="right" style="font-size:10px; line-height:12px;">
																														<!-- DB_ORDER order gift cards -->
																														<font face="Tahoma, Arial, sans-serif" color="#888a8c" size="2" style="font-size:10px; line-height:12px;">
																															($<%= @order.total_giftcards  %>)
																														</font>
																													</td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																												</tr>
																												<tr>
																													<td width="350" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="350" height="1"></td>
																													<td width="115" colspan="9" style="line-height:0; font-size:0;" bgcolor="#d4d5d6"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="115" height="1"></td>
																												</tr>
																												<tr>
																													<td width="350" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;" bgcolor="#5c8727"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="52" align="right" bgcolor="#5c8727" style="font-size:10px; line-height:12px;">
																														<font face="Tahoma, Arial, sans-serif" color="#ffffff" size="2" style="font-size:9px; line-height:12px;">Order Total:</font>
																													</td>
																													<td width="1" bgcolor="#5c8727" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="50" align="right" style="font-size:10px; line-height:12px;">
																														<!-- DB_ORDER grand total -->
																														<font face="Tahoma, Arial, sans-serif" color="#888a8c" size="2" style="font-size:10px; line-height:12px;">
																															$<%= @order.grand_total  %>
																														</font>
																													</td>
																													<td width="3" height="14" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="2" height="1"></td>
																													<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e2e3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																												</tr>
																												<tr>
																													<td width="350" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="350" height="1"></td>
																													<td width="115" colspan="9" style="line-height:0; font-size:0;" bgcolor="#d4d5d6"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="115" height="1"></td>
																												</tr>
																											</table>
																										</td>
																									</tr>
																								</table>
																							</td>
																							<td width="29" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="29" height="1"></td>
																						</tr>
																						<tr>
																							<td width="521" colspan="3" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="521" height="17"></td>
																						</tr>
																						<tr>
																							<td width="521" colspan="3" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/separator-clipboard.jpg" width="521" height="1"></td>
																						</tr>
																						<tr>
																							<td width="521" colspan="3" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="521" height="14"></td>
																						</tr>
																						<tr>
																							<td width="27" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="27" height="1"></td>
																							<td width="465">
																								<table width="465" cellpadding="0" cellspacing="0" border="0">
																									<tr>
																										<td width="4" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="3" height="1"></td>
																										<td width="461" style="font-size:10px; line-height:12px;">
																											<font face="Tahoma, Arial, sans-serif" color="#231f20" size="2" style="font-size:9px; line-height:10px;"><b>ORDER NOTES: </b></font>
																											<font face="Tahoma, Arial, sans-serif" color="#8f9194" size="2" style="font-size:9px; line-height:10px;">Your payment has been received successfully. Please review the information above and report any discrepancy immediately (we like to ship fast)<br><br>If you created a Dormbuys.com account you can view your order online <a style="text-decoration:underline;" href="http://www.dormbuys.com/account"><font face="Tahoma, Arial, sans-serif" color="#668e34" size="2" style="font-size:9px; line-height:10px;"><i>www.dormbuys.com/account</i></font></a><br><br>If you have any further questions regarding your order or our policies, please contact <a href="#"><a style="text-decoration:underline; color:#668e34;" href="mailto:helpme@dormbuys.com"><i>helpme@dormbuys.com</i></a></a></font>
																										</td>
																									</tr>
																								</table>
																							</td>
																							<td width="27" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="29" height="1"></td>
																						</tr>
																						<tr>
																							<td width="521" colspan="3" style="line-height:0; font-size:0;" bgcolor="#fbfbfb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="521" height="32"></td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</table>
																	</td>
																	<td width="21" style="line-height:0; font-size:0;" bgcolor="#000000"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
											<td width="69" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width="700" style="line-height:0; font-size:0;" bgcolor="#eee9d1"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="700" height="11"></td>
							</tr>
							<tr>
								<td width="700" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/bg-footer-top.jpg" width="700" height="12"></td>
							</tr>
							<tr>
								<td width="700" style="line-height:0; font-size:0;" bgcolor="#eee9d1"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="700" height="8"></td>
							</tr>
							<tr>
								<td width="700" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="8"></td>
							</tr>
							<tr>
								<td width="700">
									<table width="700" cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td width="239" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="239" height="1"></td>
											<td width="220">
												<table width="220" cellpadding="0" cellspacing="0" border="0">
													<tr>
														<td width="220" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="220" height="2"></td>
													</tr>
													<tr>
														<td width="220" style="line-height:0; font-size:0;"><a href="http://www.dormbuys.com/contact"><img border="0" src="http://www.dormbuys.com/images/html_email/button-need-help.jpg" width="220" height="35"></a></td>
													</tr>
													<tr>
														<td width="220" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="220" height="7"></td>
													</tr>
												</table>
											</td>
											<td width="99" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/text-customer.jpg" width="99" height="44"></td>
											<td width="142" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="142" height="1"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width="700" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="4"></td>
							</tr>
							<tr>
								<td width="700" height="12" align="center" style="font-size:10px; line-height:12px; align:center;">
									<font face="Tahoma, Arial, sans-serif" color="#231f20" size="2" style="font-size:11px; line-height:14px;">TO SEE MORE OF OUR DORMCENTRIC STUFF, VISIT US AT <a style="text-decoration:none; color:#231f20;" href="http://www.dormbuys.com"><font face="Tahoma, Arial, sans-serif" color="#231f20" size="2" style="font-size:11px; line-height:14px;">WWW.DORMBUYS.COM</font></a></font>
								</td>
							</tr>
							<tr>
								<td width="700" align="center" style="font-size:10px; line-height:12px;">
									<font face="Tahoma, Arial, sans-serif" color="#808184" size="2" style="font-size:10px; line-height:12px;">&copy; 2009 Dormbuys.com. All rights reserved. 1110 Avoca Station Court, Louisville, KY 40245</font>
								</td>
							</tr>
							<tr>
								<td width="700" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="7"></td>
							</tr>
							<tr>
								<td width="700">
									<table width="700" cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td width="283" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="283" height="1"></td>
											<td width="147" style="line-height:0; font-size:0;"><a href="http://www.dormbuys.com"><img border="0" src="http://www.dormbuys.com/images/html_email/logo-footer.jpg" width="147" height="35"></a></td>
											<td width="270" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="270" height="1"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width="700" style="line-height:0; font-size:0;" bgcolor="#ffffff"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="11"></td>
							</tr>
						</table>
					</td>
					<td width="1" style="line-height:0; font-size:0;" bgcolor="#b3b3b3"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
					<td width="1" style="line-height:0; font-size:0;" bgcolor="#cbcbcb"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
					<td width="1" style="line-height:0; font-size:0;" bgcolor="#e1e1e1"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
					<td width="1" style="line-height:0; font-size:0;" bgcolor="#f0f0f0"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
					<td width="1" style="line-height:0; font-size:0;" bgcolor="#f9f9f9"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
					<td width="1" style="line-height:0; font-size:0;" bgcolor="#fdfdfd"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
					<td width="1" style="line-height:0; font-size:0;" bgcolor="#fefefe"><img border="0" src="http://www.dormbuys.com/images/html_email/sep.gif" width="1" height="1"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="713" style="line-height:0; font-size:0;"><img border="0" src="http://www.dormbuys.com/images/html_email/bg-subfooter.jpg" width="713" height="89"></td>
	</tr>
</table>
</body>
</html>


