<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>DailyDormDeal</title>
	
		<%= stylesheet_link_tag "/stylesheets/standalone/daily_dorm_deal/all.css" %>
		<%= stylesheet_link_tag "/stylesheets/standalone/daily_dorm_deal/form.css" %>
		<%= stylesheet_link_tag "colorbox" %>
	
		<%= javascript_include_tag "jquery-1.4.2.min.js" %>
		<%= javascript_include_tag "jrails.js" %>
		<%= javascript_include_tag "jquery.colorbox-min.js" %>
		<%= javascript_include_tag "/javascripts/standalone/daily_dorm_deal/form.js" %>
		<%= javascript_include_tag "/javascripts/standalone/daily_dorm_deal/main.js" %>

		<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=eb1a43af-3a18-44ab-9fb2-5392dbe63e2f&amp;type=website&amp;button=false"></script>
	
		<!--[if lt IE 7]><%= stylesheet_link_tag "/stylesheets/standalone/daily_dorm_deal/lt7.css" %><![endif]-->
	</head>
	
	
	<body>
		
		<% if @deal.is_active? %>
			<div id="countdown_seconds" style="display: none;"><%=  @deal.seconds_left %></div>
			<div id="percent_sold" style="display: none;"><%= @deal.percent_sold %></div>
		<% else %>
			<div id="countdown_seconds" style="display: none;"><%=   @deal.next_deal ? @deal.next_deal.seconds_until_start : 0 %></div>
			<div id="percent_sold" style="display: none;">100</div>
		<% end %>
		
		<% flash.each do |key, msg| %>
		    <%= content_tag :p, msg, :class => key %>
		<% end %>
		
		<div id="wrapper">
			
			<% unless @deal.is_active? %>
				<div id="soldout-banner"></div>
			<% end %>
			
			<div id="header">
				<h1 class="logo">
					<a href="http://dailydormdeal.com">DailyDormDeal</a>
					<a href="http://dormbuys.com" id="db_logo_link">Dormbuys.com</a>
				</h1>
				
				
				<!-- EMAIL SIGNUP FORM -->
				<a name="email_form"></a>
				<% form_remote_for :ddd_email_signup, :url => "http://dormbuys.com/dailydeal/email_signup", :html => {:class => 'search-frm'} do |f| %>
					<fieldset>
						<span class="text">
							<%= f.text_field :email, :value => "Get the Daily Deals by Email", :id => "email" %>
						</span>
						<input type="submit" value="SUBSCRIBE" class="btn-submit" />
					</fieldset>
				<% end %>
				
				
				<div class="slogan">
					<strong class="dally-dorm">Daily dorm stuff at explosively low prices.</strong>
					<em>(but hurry, time’s a tickin’...)</em>
				</div>
			</div>
			<div id="main">
				<div class="intro">
					<div class="caption">
						<strong class="todays-dorm">TODAY'S DORM DEAL:</strong>
						<em><%= Time.now.strftime("%A, %B %d, %Y") %></em>
					</div>
					<div class="info-section">
						
						<!-- PRICE INFO -->
						<em>Original Price: $<%= @deal.original_price %></em>
						<strong class="price">$<%= @deal.price %></strong>
						
						
						<!-- ADD TO CART FORM -->
						<% form_for :cart_item, :url => "http://dormbuys.com/cart/add", :html => {:id => 'cart_form', :class => 'option-frm'} do |f| %>
							<fieldset>

								<% if @deal.product_variation %>
									<%= f.hidden_field :variation_id, :value => @deal.product_variation.id %>
								<% elsif @deal.product && @deal.product.default_variation? %>
									<%= f.hidden_field :variation_id, :value => @deal.product.product_variations.first.id %>
								<% else %>

									<%= f.select :variation_id, product_variations_for_select(@deal.product),
									 		{:prompt => "Select #{@deal.product.available_variations.first.variation_group}"},
											{:class => 'sel', :title => 'options'} %>
											
			
									<!-- Product Options Selection -->
									<% unless @deal.product.blank? %>
										<% if @deal.product.product_options.size > 0 %>
											<% for po in @deal.product.product_options %>

												<%= select_product_options(po, "cart_item[product_option_values][][id]", nil, ['sel']) %>

											<% end %>
										<% end %>
									<% end %>
									
								<% end %>
								

								<%= f.hidden_field :qty, :id => 'qty', :value => "1" %>

								<span class="arrow">&nbsp;</span>
								<input type="submit" class="btn-submit" value="BUY!" onclick="validateSelection(); return false;" />
							</fieldset>
						<% end %>
						
						
						<!-- SHARE THIS -->
						<ul class="social-list">
							<li><span>Share This:</span></li>
							<li><a id="ck_email" class="mail" href="javascript:void(0);"></a></li>
							<li><a id="ck_facebook" class="facebook" href="javascript:void(0);"></a></li>
							<li><a id="ck_twitter" class="twitter" href="javascript:void(0);"></a></li>
							<li><a id="ck_sharethis" class="share" href="javascript:void(0);"></a></li>
							
							<script type="text/javascript">
								var shared_object = SHARETHIS.addEntry({
									title: document.title,
									url: document.location.href
								});

								shared_object.attachButton(document.getElementById("ck_sharethis"));
								shared_object.attachChicklet("email", document.getElementById("ck_email"));
								shared_object.attachChicklet("facebook", document.getElementById("ck_facebook"));
								shared_object.attachChicklet("twitter", document.getElementById("ck_twitter"));
							</script>
							
						</ul>
						
					</div>
					<div class="left-to-buy">
						
						
						<!-- COUNTDOWN CLOCK -->
						<div class="counter">
						
							<% if @deal.is_active? %>
								<span class="time-left">Time Left To Buy:</span>
							<% else %>
								<span class="time-until">Time Until Next Dorm Deal:</span>
							<% end %>
							
							<strong id="countdown_clock">00:00:00</strong>
						</div>
						
						
						<!-- SELLOUT METER -->
						<div class="slider">
							<div class="left-prt"></div>
							<div class="slid-bg">
								<div class="top-slide" id="slide_fill">
									<div class="pointer">
										<span class="value">
											
												<% if @deal.is_active? %>
													<span><%= @deal.percent_sold %>% </span> sold
												<% else %>
													<span>sold out</span>
												<% end %>
										</span>
									</div>
								</div>
							</div>
						</div>
						
						
					</div>
				</div>
				<div id="content">
					<div class="prime">
						<div class="gallery-holder">
							
							<!-- LARGE PRODUCT IMAGE -->
							<div class="img-holder">
								
								<%= link_to image_tag(@deal.main_image.url(:main), :alt => @deal.title, :id => "img_enlarge_image"), 
										@deal.main_image.url(:large), :target => "_blank", :class => "lightwindow" %>
							</div>
							
							<%= link_to "Enlarge Image", @deal.main_image.url(:large), 
									:id => "link_enlarge_image", :target => "_blank", :class => "btn-enlarge lightwindow" %>

							
							<!-- ADDITIONAL PRODUCT IMAGE -->
							<% if @deal.product %>
								<div class="slide-frame">
									<% for aimg in @deal.additional_images %>
											<%= link_to image_tag(aimg[:thumb]), aimg[:large],
													:target => "_blank", 
													:class => "additional_image lightwindow", 
													:rel => aimg[:main],
													:title => aimg[:title]  %>
									<% end %>

								</div>
							<% end %>
							
							
							<!-- % discount starburst -->
							<div class="sunny">
								<span><%= @deal.discount_percentage %> <br />OFF!</span>
							</div>
							
							
						</div>
						
						
						
						<h2><span><%= @deal.title %></span></h2>
						<p><%= @deal.description.gsub("\n", "<br />") %></p>
					</div>
				</div>
			</div>
			<div id="footer">
				<a href="http://dormbuys.com">
					<span class="cord">&nbsp;</span>
					<span class="powered">powered by dormbuys.com</span>
				</a>
				<p>&copy;<%= Time.now.year %> DailyDormDeal.com. All rights reserved.</p>
				<p class="links">
					<%= link_to "Subscribe", "#email_form" %> | 
					<%= link_to "How it Works", "#", :id => "ddd_info_link2" %> | 
					<%= link_to "FAQs", "http://dormbuys.com/faq", :target => "_blank" %> | 
					<%= link_to "Contact Us", "mailto:dailydeals@dormbuys.com" %> | 
				</p>
			</div>
			
			<%= link_to "How it Works", "#", :id => "ddd_info_link" %>
			
		</div>
		<!-- end wrapper -->
		
		<div id="hidden_stuff">
			<div id="ddd_info">
				<h2>What is Daily Dorm Deal (D3)?</h2>

				<p>We blame it on (or give credit to, depending on how you look at it) those dorm-loving do-gooders from the Dormbuys crew, as they came up with the concept of creating a place online where dorm dwellers can get stupidly low, rock-bottom, never-seen-before, damn-near-criminal deals that no website in their right mind would ever even consider offering.</p>

				<p>And yet, they’ve never been completely right in the head, so naturally D3 was born.</p>

				<p><strong>So here’s the scoop:</strong> D3 will serve up one killer deal per day. And as long as the clock’s still ticking or everyone else didn’t beat you to the checkout line, you can grab it for the stupidly low price it's being offered at. But once the clock hits zero or all of that day’s deals are gone … you’re all outta luck. Then, a new deal will appear bright and early the next morning (and every morning thereafter until we’re either run out of business or thrown into the looney bin) at 6:00 AM est (M-F).</p> 

				<p>Still got questions? Visit our FAQ at <%= link_to "dormbuys.com/faq", faq_path %>.</p>
			
				<p>You can login to your account at: <%= link_to "dormbuys.com/account", login_path %>.</p>
			
			</div>
		</div><!-- end #hidden_stuff -->
		
	</body>
</html>
