<% form_for([:admin, @order], :html => {:id => 'shipping_addy_form'}) do |f| %>
	
	<div class="field">
		<%= f.text_field :shipping_first_name, :class => 'textfield' %>
		<%= f.label :shipping_first_name %>
	</div>
	<div class="clear"></div>
	
	<div class="field">
		<%= f.text_field :shipping_last_name, :class => 'textfield' %>
		<%= f.label :shipping_last_name %>
	</div>
	<div class="clear"></div>
	
	<div class="field">
		<%= f.text_field :shipping_address, :class => 'textfield' %>
		<%= f.label :shipping_address %>
	</div>
	<div class="clear"></div>
	
	<div class="field" id="shipping_address_2_field">
		<%= f.text_field :shipping_address2, :class => 'textfield' %>
		<%= f.label :shipping_address2 %>
	</div>
	<div class="clear"></div>
	
	
	
	
	<!-- -->
	
	
	<div class="field dormship">
		<%= f.select :dorm_ship_time_id, Order::DORM_SHIP_OPTIONS.collect{|o| [o.last, o.first]},
		 	{}, :class => 't6' %>
		<%= f.label :dorm_ship_time_id, 'Ship to Dorm' %>
	</div>


	 <div class="field fieldlength date_select dormship">
	   	<%= f.date_select :dorm_ship_ship_date, {:order => [:month, :day, :year], :use_month_numbers => true}, 
			{:class => 'date_select_box'} %>
		<%= f.label :dorm_ship_ship_date, '*Ship to Dorm on this date' %>
	 </div>



	 <div class="field dormship">
		<%= f.text_field :dorm_ship_college_name, :class => 'textfield' %>
		<%= f.label :dorm_ship_college_name, '&nbsp;&nbsp;&nbsp;*College Name' %>
	 </div>


	  <div class="field dormship" id="dorm_shipping_address_2_field">
	    <%= f.text_field :dorm_shipping_address2, :class => 'textfield', :id => 'college_box_building_room' %>
		<%= f.label :dorm_shipping_address2, '*Box # / Building / Room #', :for => 'college_box_building_room' %>
	  </div>


	 <div class="field check dormship">
	   <%= f.label :dorm_ship_not_assigned, 'Box / Building / Room has not been assigned yet:', :class => 'inline' %>
		<%= f.check_box :dorm_ship_not_assigned, :class => 'inline' %>
	 </div>
	 <div class="clear"></div>


	 <div class="field check dormship">
		<%= f.label :dorm_ship_not_part, 'Box / Building / Room is not part of the address:', :class => 'inline' %>
	   <%= f.check_box :dorm_ship_not_part, :class => 'inline' %>
	 </div>
	 <div class="clear"></div>
	
	
	<!-- -->
	
	
	
	
	<div class="field">
		<%= f.text_field :shipping_city, :class => 'textfield' %>
		<%= f.label :shipping_city %>
	</div>
	<div class="clear"></div>
	
	<div class="field">
		<%= f.select :shipping_state_id, State.all.collect {|s| [s.full_name, s.id]} %>
		<%= f.label :shipping_state_id %>
	</div>
	<div class="clear"></div>
	
	<div class="field">
		<%= f.text_field :shipping_zipcode, :class => 'textfield' %>
		<%= f.label :shipping_zipcode %>
	</div>
	<div class="clear"></div>
	
	<div class="field">
		<%= f.select :shipping_country_id, Country.all.collect {|c| [c.country_name, c.id]} %>
		<%= f.label :shipping_country_id %>
	</div>
	<div class="clear"></div>
	
	<div class="field">
		<%= f.text_field :shipping_phone, :class => 'textfield' %>
		<%= f.label :shipping_phone %>
	</div>
	<div class="clear"></div>
	
	
	<div class="field">
		<%= link_to '<span>Update</span>', "javascript:doneProcessing = true; document.forms['shipping_addy_form'].submit();", 
				:class => 'button positive', 
				:style => 'margin: 0px;' %>
	</div>
	<div class="clear"></div>
	
<% end %>