<% if @orders.empty? %>
	
	<h3>No orders were found</h3>

<% else %>

	<table class="std_box_table">
		<thead>
	  		<tr>
				<th>Order #</th>
	    		<th>Bill To</th>
				<th>Ship To</th>
	    		<th class="center">Date</th>
	    		<th class="right">Total</th>
				<th colspan="2" class="center">Manage</th>
	  		</tr>
		</thead>
		<tbody>

		<% for order in @orders %>
	  		<tr class="<%= order_row_css(order) %>">
	    		<td><%=h order.order_id %></td>
				<td><%= order.billing_first_name %> <%= order.billing_last_name %></td>
				<td><%= order.shipping_first_name %> <%= order.shipping_last_name %></td>
	    		<td class="center"><%=h order.order_date.to_time.to_s(:friendly) %></td>
	    		<td class="right"><%=h order.grand_total %></td>
				
				
				<td class="center">
					<% if order.processing %>
					
						<span>(in fulfillment)</span>
					
					<% elsif order.processed %>
					
						<%= link_to 'Re-Process', process_admin_order_path(order, :page => (params[:page] ? params[:page].to_i : 1)), 
							:class => "tbl_lnk_show", :confirm => "Are you sure you want to RE-PROCESS this order?" %>
					
					<% else %>
					
						<%= link_to 'Process', process_admin_order_path(order, :page => (params[:page] ? params[:page].to_i : 1)), 
							:class => "tbl_lnk_show", :confirm => "Are you sure you want to process this order?" %>
						
					<% end %>
				</td>
				
	    		<td class="center">
					<%= link_to 'Manage', edit_admin_order_path(order, :page => (params[:page] ? params[:page].to_i : 1)), :class => "tbl_lnk_edit" %>
				</td>
	  		</tr>
	<% end %>

		</tbody>
	</table>

<% end %>