<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>

<%= will_paginate(@orders) %>


<%= periodically_call_remote(
		:url => {:action => :inline_order_list, :page => params[:page]}, 
		:frequency => '600', 
		:update => 'orders_list') %>


<div class="std_box span-16">
	
	<h3 class="std_box_heading">Orders</h3>
	
	<div class="std_box_content" id="orders_list">
		
		<% if controller.action_name =~ /search/ %>
			<%= render :partial => "orders_search" %>
		<% else %>
			<%= render :partial => "orders_list" %>
		<% end %>
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->





<div class="span-8 last">
	
	
<div class="std_box std_box_satcked_top">

	<h3 class="std_box_heading">Order Key</h3>

	<div class="std_box_content">

		<div class="std_box_content_wrapper">
			
			<p>
				<span class="order_status_unsent_dropship">Unsent Dropship Emails</span>, 
				<span class="order_status_dorm_ship">Dorm-Ship Order</span>, 
				<span class="order_status_ds_sent_waiting_ship">Any Drop-Ship emails sent, items awaiting shipment</span>, 
				<span class="order_status_complete">Order is shipped &amp; complete</span>, 
				<span class="order_status_canceled">Order was canceled or refunded</span>
			</p>
			
			<p>
				<img src="/images/css/lorry.png" /> Drop-Ship items only <br />
				<img src="/images/css/email.png" /> Order has USPS items <br />
				<img src="/images/css/exclamation.png" /> PO / APO Suspect order <br />
				<img src="/images/css/package_green.png" /> Order has been processed <br />
				<img src="/images/css/comment.png" /> Order has comments
			</p>
			
		</div><!-- end .std_box_content_wrapper -->

	</div><!-- end .std_box_content -->


	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>

</div><!-- end .std_box -->
<div class="clear"></div>
	
<div class="std_box">
	
	<h3 class="std_box_heading">Search</h3>
	
	<div class="std_box_content">
		
		<% form_for(:search, :url => admin_orders_search_path, :html => {:method => :get}) do |f| %>
		
			<div class="field">
				<%= f.text_field :search_term, :class => 'textfield', 
					:value => (params[:search] ? params[:search][:search_term] : "") %>
				<%= f.label :search_term %>
			</div>

			
			<div class="field">
				<%= f.select :search_type, 
					[
						['Order #', 'order_id'],
						["Email", "email"], 
						["Last Name", "last_name"], 
						["Full Name", "full_name"]
					],
					:selected => (params[:search] ? params[:search][:search_type] : "") %>
				<%= f.label :search_type, 'Search for a match on' %>
			</div>
			
			<div class="field">
				<%= f.text_field :search_duration, :class => 'textfield',
				 	:value => (params[:search] ? params[:search][:search_duration] : '90') %>
				<%= f.label :search_duration, 'Search in the last ^^^ days' %>
			</div>
			
			<div class="field">
				<%= link_to '<span>Search</span>', 'javascript:document.forms[0].submit()', :class => 'button' %>
			</div>
			
			<div class="clear"></div>
		
		<% end %>
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->

<%= link_to '<span>New Order</span>', new_admin_order_path, :class => 'button positive' %>
</div>

<div class="clear"></div>
