<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>


<div class="std_box">
	
	<h3 class="std_box_heading">New Order</h3>
	
	<div class="std_box_content">
		
		<% form_remote_for([:admin, @order]) do |f| %>
		  <%= f.error_messages %>

		  <%= render :partial => "order_form.html.erb", :locals => {:f => f} %>

		<% end %>
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->



<%= link_to_function '<span>Save</span>', 
	"$.ajax({data:$.param($('#new_order').serializeArray()) + '&authenticity_token=' + encodeURIComponent('#{form_authenticity_token}'), dataType:'script', type:'post', url:'/admin/orders'}); return false;",
	:class => 'button positive' %>


<%= link_to '<span>Cancel</span>', admin_orders_path, :class => 'button negative' %>
