<div id="admin_nav_container">
	<div id="admin_nav_wrapper">
		<h1><%= link_to 'Dormbuys.com', '/' %></h1>
		<ul id="admin_nav">
			<li>
				<%= link_to 'Products', admin_products_path %>
				<ul>
					<li><%= link_to 'Manage Products', admin_products_path %></li>
					<li><%= link_to 'Daily Dorm Deals', "/admin/daily_dorm_deals" %></li>
					<li><%= link_to 'Vendors', admin_vendors_path %></li>
					<li><%= link_to 'Warehouses', admin_warehouses_path %></li>
					<li><%= link_to 'Brands', admin_brands_path %></li>
					<li><%= link_to 'Categories', admin_categories_path %></li>
					<li><%= link_to 'Sub Categories', admin_subcategories_path %></li>
					<li><%= link_to 'Integration Map', mapper_admin_subcategories_path %></li>
				</ul>
			</li>
			<li>
				<%= link_to 'Fulfillment', admin_orders_path %>
				<ul>
					<li><%= link_to 'Orders', admin_orders_path %></li>
					<li><%= link_to 'New Order', new_admin_order_path %></li>
					<li><%= link_to 'Order Vendors', admin_order_vendors_path %></li>
					<li><%= link_to 'Shipping Rates', edit_admin_shipping_rates_table_path(ShippingRatesTable.first) %></li>
					<li><%= link_to 'Add. Rates by State', admin_state_shipping_rates_path %></li>
					<li><%= link_to 'Shipping Containers', admin_shipping_containers_path %></li>
				</ul>
			</li>
			<li>
				<%= link_to 'Savings', admin_coupons_path %>
				<ul>
					<li><%= link_to 'Coupons', admin_coupons_path %></li>
					<li><%= link_to 'Gift Cards', admin_gift_cards_path %></li>
					<li><%= link_to 'Qty Discounts', admin_quantity_discounts_path %></li>
				</ul>
			</li>
			<li>
				<%= link_to 'Customers', admin_users_path %>
				<ul>
					<li><%= link_to 'Manage Users', admin_users_path %></li>
					<li><%= link_to 'Gift Registries', admin_gift_registries_path %></li>
					<li><%= link_to 'Wish Lists', admin_wish_lists_path %></li>
				</ul>
			</li>
			<li>
				<%= link_to 'Reports', '#' %>
				<ul>
					<li><%= link_to 'LNT Products', '/content/integrations/LNT_PRODUCTS.csv' %></li>
					<li><%= link_to 'Inv. Count Sheet', '/admin/reports/inventory_count_list' %></li>
					<li><%= link_to 'Email List Export','/admin/reports/email_list' %></li>
					<li><%= link_to 'Coupon Report', '/admin/reports/coupons_used' %></li>
					<li><%= link_to 'Daily Dorm Deal List', '/admin/reports/daily_dorm_deal_email_list' %></li>
					<li><%= link_to 'Late Shippers', '/admin/reports/late_shippers' %></li>
					<li><%= link_to 'COGS Report', '/admin/reports/cogs' %></li>
					<li><%= link_to 'Inventory Cost', '/admin/reports/inventory_cost' %></li>
					<li><%= link_to 'LNT COGS Report', '/admin/reports/lnt_cogs' %></li>
					<li><%= link_to 'Invisible Products', '/admin/reports/not_visible' %></li>
					<li><%= link_to 'Products Sold', '/admin/reports/products_sold' %></li>
					<li><%= link_to 'Gift Card Purchases', '/admin/reports/gift_card_purchases' %></li>
					<li><%= link_to "Shipping / Sales", "/admin/reports/shipping_over_total" %></li>
					<li><%= link_to "Reorder Report", "/admin/reports/reorder" %></li>
					<li><%= link_to "Price List", "/admin/reports/price_list" %></li>
					<li><%= link_to "Gift Card Balances", "/admin/reports/giftcard_report" %></li>
				</ul>
			</li>
			<li>
				<%= link_to 'Settings', '#', :class => 'last' %>
				<ul>
					<li><%= link_to 'Home Banners', admin_home_banners_path %></li>
					<li><%= link_to 'Logout', logout_path %></li>
				</ul>
			</li>
			
		</ul>
	</div><!-- end #admin_nav_wrapper -->
</div><!-- end #admin_nav_container -->
<div class="clear"></div>