<% cache([@subcategory, "page_#{params[:page].to_i}", "#{params[:view_all].to_i}", "#{params[:sort].blank? ? 0 : params[:sort][:sort_type]}"], :expires_in => 5.minutes) do %>

<div class="tab">
	<div class="pager gallery-box">
		<div class="quote-box">

			

			<% form_for :sort, :url => request.path, :html => {:id => 'sort_form', :method => "get"} do |f| %>
			
				<% if params[:view_all] %>
					<%= hidden_field_tag "view_all", 1 %>
				<% end %>
				
				<%= f.select :sort_type, 
					[
						["SORT BY", ""],
						["Price (Highest to lowest)", "price_desc"],
						["Price (lowest to highest)", "price_asc"],
						["Best Selling (most popular)", "best_selling"]
					],
					{
						:selected => (params[:sort] ? params[:sort][:sort_type] : "")
					},
					{
						:onchange => "document.forms['sort_form'].submit();"
					}
					 %>
			<% end %>


			
			<ul class="breadcrumbs">
				<li><h3><%=h @subcategory.name %></h3></li>
			</ul>
		</div>
		<div class="product-hold">
			
			<% if @products.blank? %>
				<h3>No products were found</h3>
			<% else %>
				<% @products.in_groups_of(6, false) do |row| %>
					<ul>
						<% for product in row %>
							<%= render :partial => "shared/front_product_preview", :locals => {:product => product} %>
						<% end %>
					</ul>
				<% end %>
			<% end %>
			
		</div>
	</div>
	<div class="pager-hold">
		<%= link_to "View All", "?view_all=1", :class => 'view_all' %>
		<% unless params[:view_all] %>
			<%= will_paginate(@products) %>
		<% end %>
	</div>
</div>
<% end %>