	<div class="featured-products">
		<div class="title tabset">
			<ul>
				<li class="first">
					<% if @category.id == Category::BATH %>
						<%= link_to image_tag("/images/text-bathmatics.png", :alt =>"", :class => "png inner-png"), @category.default_front_url, :class => "tab #{'active' if controller.action_name == 'category'}" %>
				  	<% elsif @category.id == Category::LAUNDRY %>
						<%= link_to image_tag("/images/text-laundristics.png", :alt =>"", :class => "png inner-png"), @category.default_front_url, :class => "tab #{'active' if controller.action_name == 'category'}" %>
				  	<% elsif @category.id == Category::BEDDING %>
						<%= link_to image_tag("/images/text-bedology.png", :alt =>"", :class => "png inner-png"), @category.default_front_url, :class => "tab #{'active' if controller.action_name == 'category'}" %>
				  	<% elsif @category.id == Category::DECOR %>
						<%= link_to image_tag("/images/text-decoristics.png", :alt =>"", :class => "png inner-png"), @category.default_front_url, :class => "tab #{'active' if controller.action_name == 'category'}" %>
				  	<% elsif @category.id == Category::FURNITURE %>
						<%= link_to image_tag("/images/text-furnitecture.png", :alt =>"", :class => "png inner-png"), @category.default_front_url, :class => "tab #{'active' if controller.action_name == 'category'}" %>
				  	<% elsif @category.id == Category::APPLIANCES %>
						<%= link_to image_tag("/images/text-socio-appliances.png", :alt =>"", :class => "png inner-png"), @category.default_front_url, :class => "tab #{'active' if controller.action_name == 'category'}" %>
				  	<% elsif @category.id == Category::TECH %>
						<%= link_to image_tag("/images/text-gadgetometry.png", :alt =>"", :class => "png inner-png"), @category.default_front_url, :class => "tab #{'active' if controller.action_name == 'category'}" %>
				  	<% elsif @category.id == Category::SPACE_SAVERS %>
						<%= link_to image_tag("/images/text-spacesavonomics.png", :alt =>"", :class => "png inner-png"), @category.default_front_url, :class => "tab #{'active' if controller.action_name == 'category'}" %>
				  	<% elsif @category.id == Category::PACKAGES %>
						<%= link_to image_tag("/images/text-gift-cards.png", :alt =>"", :class => "png inner-png"), @category.default_front_url, :class => "tab #{'active' if controller.action_name == 'category'}" %>
				  	<% elsif @category.id == Category::GIFT_CARDS %>
						<%= link_to image_tag("/images/text-gift-cards.png", :alt =>"", :class => "png inner-png"), @category.default_front_url, :class => "tab #{'active' if controller.action_name == 'category'}" %>
				  	<% elsif @category.id == Category::GIFT_CARDS_MORE %>
						<%= link_to image_tag("/images/text-gift-cards.png", :alt =>"", :class => "png inner-png"), @category.default_front_url, :class => "tab #{'active' if controller.action_name == 'category'}" %>
				  	<% elsif @category.id == Category::SALE %>
						<%= link_to image_tag("/images/text-sale.png", :alt =>"", :class => "png inner-png"), @category.default_front_url, :class => "tab #{'active' if controller.action_name == 'category'}" %>
					<% end %>
				</li>
			</ul>
			<ul class="sub-tabs">
								
				<% @category.visible_primary_subcategories.each_with_index do |subcat,i| %>
				
					<% if i <= 5 %>
					
						<% unless @subcategory.blank? %>
					
							<% if @subcategory.is_tertiary? && @subcategory.parent == subcat %>
								<% active_css = "active" %>
							<% elsif @subcategory == subcat %>
								<% active_css = "active" %>
							<% else %>
								<% active_css = "" %>
							<% end %>
							
						<% else %>
							<% active_css = "" %>
						<% end %>
					
						<li>
							<%= link_to "<em>#{subcat.name}</em><span></span>", subcat.default_front_url,
							 		:class => "tab #{active_css}" %>
						</li>
					<% else %>
						<% content_for :more_tab_links do %>
							<li><%= link_to subcat.name, subcat.default_front_url %></li>
						<% end %>
					<% end %>
				
				<% end %>
				
				<% if @category.visible_primary_subcategories.size > 6 %>
					<li>
						<a title="more-1" class="more" href="#">more</a>
						<div class="drop-box">
							<div class="box-t">
								<div class="box-area">
									<ul>
										<%= yield :more_tab_links %>
									</ul>
								</div>
							</div>
							<div class="box-b"></div>
						</div>
					</li>
				<% end %>
				
			</ul>
		</div>
		
		<%= yield :tabbed_page_content %>
		
	</div>