<!-- prefooter -->
<div class="prefooter">
	<div class="join">
		<ul class="btn-list">
			<li><%= link_to 'scholarship tips', scholarships_path, :class => 'scholarship' %></li>
			<li><%= link_to 'survival 101', links_path, :class => 'survival' %></li>
			<li><%= link_to 'how 2 affiliatize', affiliates_path, :class => 'how' %></li>
			<li><%= link_to 'how can we help?', faq_path, :class => 'help' %></li>
		</ul>
		<% form_remote_for :email_list, :url => email_list_signup_path, :html => {:id => 'email_frm'} do |f| %>
			<fieldset>

				<%= image_submit_tag("/images/submit.gif", :class => "btn", :alt => "submit") %>
				<%= f.text_field :email_address, :class => "text", :value => "Enter your email address",
				 	:onclick => "this.value = '';" %>
				<%= f.label :email_address, 'JOIN OUR EMAIL LIST:' %>
			</fieldset>
		<% end %>
	</div>
</div>