<div class="quick-popup" id="lightbox<%= product.id %>">
	<div class="popup-top"><a href="#" class="close">close</a></div>
	<div class="popup-c">
		<div class="popup-content">
			<div class="text">
				<div class="text-box">
					<strong><%=h product.product_name %></strong>
					<div class="scroll-box">
						<p><%=h(product.product_overview).gsub("\n", "<br />") %></p>
					</div>
					<%= link_to 'more details', product.default_front_url %>
				</div>
				<div class="form-box">
					<em>our price: <span>$<%= product.retail_price %></span></em>
					<% form_for :cart_item, :url => add_to_cart_path, :html => {:id => "cart_form_popup_#{product.id}"} do |f| %>
						<fieldset>
							
							<% if product.default_variation? %>
								<%= f.hidden_field :variation_id, :value => product.product_variations.first.id %>
							<% else %>
							
								<div class="select-row">
									<%= f.select :variation_id, product_variations_for_select(product),
									 		{:prompt => "Select #{product.available_variations.first.variation_group}"},
											{:class => 'inner-select required', :title => 'select'} %>

									<span class="arrow">arrow</span>
								</div>
							
							<% end %>
							
							
							<!-- Product Options Selection -->
							<% if product.product_options.size > 0 %>
								<% for po in product.product_options %>

									<div class="select-row">
										<%= select_product_options(po, "cart_item[product_option_values][][id]", nil, ['inner-select']) %>
										<span class="arrow">arrow</span>
									</div>

								<% end %>
							<% end %>


							<!-- Product AS Options Selection -->
							<% if product.product_as_options.size > 0 %>
								<% for pao in product.product_as_options %>

									<div class="select-row">
										<%= select_product_as_options(pao, "cart_item[product_as_option_values][][id]", nil, ['inner-select']) %>
										<span class="arrow">arrow</span>
									</div>

								<% end %>
							<% end %>
							
							<div class="input-row">
								<label for="qty_<%= product.id %>">Qty:</label>
								<%= f.text_field :qty, :id => "qty_#{product.id}", :value => 1 %>
								<%= f.hidden_field :is_gift_registry_item, :value => 0, :id => "is_gift_registry_item_#{product.id}" %>
								<%= f.hidden_field :is_wish_list_item, :value => 0, :id => "is_wish_list_item_#{product.id}" %>
								<%= link_to 'Add To Cart', "javascript:document.forms['cart_form_popup_#{product.id}'].submit();", :class => 'btn' %>
								<span class="arrow">arrow</span>
							</div>
							<input type="submit" value="Submit" class="hidden" />
						</fieldset>
					<% end %>
				</div>
			</div>
			<div class="column">
				
				<!-- PRODUCT IMAGE -->
				<%= image_tag product.product_image(:list), :alt => product.product_name, :class => 'popup-main-img' %>
				
				<!--
				<span class="stars">stars</span>
				<p>(based on <a href="#">305 reviews</a>)</p>
				<ul>
					<li><a href="#">write a review</a></li>
					<li><a href="#">see all</a></li>
				</ul>
				-->
				
				<div class="link-box">
					<%= link_to_function "save to my Wish List" do |page|
						page << %(
						if($("#qty_#{product.id}").val() == "")
						{ 
							alert("Please enter a quantity.")
							
						} else { 
							
							$("#is_wish_list_item_#{product.id}").val("1"); 
							document.forms['cart_form_popup_#{product.id}'].submit();
							
						}//end if
						)
					end %>
					
					<%= link_to_function "add to my Registry" do |page|
						page << %(
						if($("#qty_#{product.id}").val() == "")
						{ 
							alert("Please enter a quantity.")
							
						} else { 
							
							$("#is_gift_registry_item_#{product.id}").val("1"); 
							document.forms['cart_form_popup_#{product.id}'].submit();
							
						}//end if
						)
					end %>
				</div><!-- end .link-box -->
				
				
				<div class="additional_product_images">
					<%
					additional_images = []					
					product.additional_product_images.each {|aimg| additional_images << {:thumb => aimg.image(:thumb), :main => aimg.image(:main), :large => aimg.image(:large), :title => aimg.description, :sort => 1} }
        			product.available_variations.each {|v| additional_images << {:thumb => v.image(:thumb), :main => v.image(:main), :large => v.image(:large), :title => v.title, :sort => 2} if v.image.file? }
        			additional_images.sort! {|x,y| x[:sort] <=> y[:sort]}
					%>
					
					<% additional_images.in_groups_of(4, false) do |image_group| %>
						<% image_group.each do |aimg| %>
							<%= link_to image_tag(aimg[:thumb]), aimg[:large],
									:target => "_blank", 
									:class => "additional_image lightwindow", 
									:rel => aimg[:main],
									:title => aimg[:title]  %>
						<% end %>
						<div class="clear"></div>
					<% end %>
					
				</div><!-- end .additional_product_images -->
				
				
			</div><!-- end .column -->
		</div><!-- end .popup-content -->
	</div><!-- end .popup-c -->
	<div class="popup-btm"></div>
</div><!-- end .quick-popup -->