<!-- footer -->
<div id="footer">
	<ul class="nav">
		<% Category.available.each do |c| %>
			<li><%= link_to c.name, c.default_front_url %></li>
		<% end %>
	</ul>
	<div class="title green-team">
		<h2>Yeah, we're a green team. Are you?</h2>
	</div>
	<p>&copy; <%= Time.now.year %> Dormuys.com. All rights reserved. <%= SITE_ADDRESS %>, <%= SITE_CITY %>, <%= SITE_STATE %> <%= SITE_ZIP %>  <%= SITE_PHONE_TOLLFREE %></p>
	<ul class="bottom">
		<li><a href="#">Editorial Policy</a></li>
		<li><%= link_to 'Privacy Policy', privacy_policy_path %></li>
		<li><a href="#">Terms &amp; Conditions</a></li>
	</ul>
	
	<% if 1 == 2 %>
	<div class="guys-are-good">
		<!-- START SCANALERT CODE -->
		<a target="_blank" 
		   href="https://www.scanalert.com/RatingVerify?ref=www.dormbuys.com">

			<img width="94" height="54" border="0" 
			     src="https://images.scanalert.com/meter/www.dormbuys.com/13.gif" 
			     alt="HACKER SAFE certified sites prevent over 99.9% of hacker crime." 
			     oncontextmenu="alert('Copying Prohibited by Law - HACKER SAFE is 
				 a Trademark of ScanAlert'); return false;">
		</a>
		<!-- END SCANALERT CODE -->
	</div>
	<% end %>
	
</div>
<a name="join_email_list"></a>