<li>
	<div class="title">
		<h3><%= truncate(product.product_name, :length => 25) %></h3>
	</div>
	<div class="text">
		<%= link_to image_tag(product.product_image(:list), :alt => product.product_name), 
				product.default_front_url, :title => product.product_name %>
		<p><%= truncate(product.product_overview, :length => 140) %></p>
		<em>our price: <span>$<%= product.retail_price %></span></em>
		<!--
		<a href="#lightbox<%= product.id %>" class="btn open">Quick View</a>
		-->
	</div>
</li>

<% content_for :eo_page do %>

<% if 1 == 2 %>
<div class="quick-popup" id="lightbox<%= product.id %>">
	<div class="popup-top"><a href="#" class="close">close</a></div>
	<div class="popup-c">
		<div class="popup-content">
			<div class="text">
				<div class="text-box">
					<strong><%=h product.product_name %></strong>
					<div class="scroll-box">
						<p><%=h(product.product_overview).gsub("\n", "<br />") %></p>
					</div>
					<%= link_to 'more details', product.default_front_url %>
				</div>
				<div class="form-box">
					<em>our price: <span>$<%= product.retail_price %></span></em>
					<% form_for :cart_item, :url => add_to_cart_path, :html => {:id => "cart_form_popup_#{product.id}"} do |f| %>
						<fieldset>
							
							<% if product.default_variation? %>
								<%= f.hidden_field :variation_id, :value => product.product_variations.first.id %>
							<% else %>
							
								<div class="select-row">
									<%= f.select :variation_id, product_variations_for_select(product),
									 		{:prompt => "Select #{product.product_variations.first.variation_group}"},
											{:class => 'inner-select2 required', :title => 'select'} %>

									<span class="arrow">arrow</span>
								</div>
							
							<% end %>
							
							
							<!-- Product Options Selection -->
							<% if product.product_options.size > 0 %>
								<% for po in product.product_options %>

									<div class="select-row">
										<%= select_product_options(po, "cart_item[product_option_values][][id]", nil) %>
										<span class="arrow">arrow</span>
									</div>

								<% end %>
							<% end %>


							<!-- Product AS Options Selection -->
							<% if product.product_as_options.size > 0 %>
								<% for pao in product.product_as_options %>

									<div class="select-row">
										<%= select_product_as_options(pao, "cart_item[product_as_option_values][][id]", nil) %>
										<span class="arrow">arrow</span>
									</div>

								<% end %>
							<% end %>
							
							<div class="input-row">
								<label for="qty12">Qty:</label>
								<%= f.text_field :qty, :id => 'qty12' %>
								<%= link_to 'Shipping Cart', "javascript:document.forms['cart_form_popup_#{product.id}'].submit();", :class => 'btn' %>
								<span class="arrow">arrow</span>
							</div>
							<input type="submit" value="Submit" class="hidden" />
						</fieldset>
					<% end %>
				</div>
			</div>
			<div class="column">
				<%= image_tag product.product_image(:list), :alt => product.product_name %>
				
				<!--
				<span class="stars">stars</span>
				<p>(based on <a href="#">305 reviews</a>)</p>
				<ul>
					<li><a href="#">write a review</a></li>
					<li><a href="#">see all</a></li>
				</ul>
				-->
				
				<div class="link-box">
					<a href="#">save to my Wish LIst</a>
					<a href="#">add to my Registry</a>
				</div>
			</div>
		</div>
	</div>
	<div class="popup-btm"></div>
</div>
<% end %>

<% end %>