<!-- side column -->
<div id="s-column">
	<!-- product side boxes -->
	<div class="product-sboxes">
		<strong class="slogan t-might-like">You might also like...</strong>
		
		<% @recommended_products.each do |rproduct| %>
		<div class="p-box">
			<div class="heading">
				<strong><%=h rproduct.product_name %></strong>
			</div>
			<div class="body">
				<a class="open" href="#lightbox<%= rproduct.id %>">
					<%= image_tag rproduct.product_image(:recommended), :alt => strip_tags(rproduct.product_name) %>
				</a>
				<p><%= truncate(rproduct.product_overview, :length => 130) %></p>
				<strong class="price"><em>our price:</em> $<%= rproduct.retail_price %></strong>
			</div>
		</div>
		<% end %>
		
	</div>
</div>

<% content_for :eo_page do %>
	
	<% @recommended_products.each do |rproduct| %>
	
		<div class="quick-popup" id="lightbox<%= rproduct.id %>">
			<div class="popup-top"><a href="#" class="close">close</a></div>
			<div class="popup-c">
				<div class="popup-content">
					<div class="text">
						<div class="text-box">
							<strong><%=h rproduct.product_name %></strong>
							<div class="scroll-box">
								<p><%=h(rproduct.product_overview).gsub("\n", "<br />") %></p>
							</div>
							<%= link_to 'more details', rproduct.default_front_url %>
						</div>
						<div class="form-box">
							<em>our price: <span>$<%= rproduct.retail_price %></span></em>
							<% form_for :cart_item, :url => add_to_cart_path, :html => {:id => "cart_form_popup_#{rproduct.id}"} do |f| %>
								<fieldset>
									
									<% if @product.default_variation? %>
										<%= f.hidden_field :variation_id, :value => @product.product_variations.first.id %>
									<% else %>
									
										<div class="select-row">
											<%= f.select :variation_id, product_variations_for_select(@product),
											 		{:prompt => "Select #{@product.product_variations.first.variation_group}"},
													{:class => 'inner-select2 required', :title => 'select'} %>
	
											<span class="arrow">arrow</span>
										</div>
									
									<% end %>
									
									
									<!-- Product Options Selection -->
									<% if @product.product_options.size > 0 %>
										<% for po in @product.product_options %>

											<div class="select-row">
												<%= select_product_options(po, "cart_item[product_option_values][][id]", nil) %>
												<span class="arrow">arrow</span>
											</div>

										<% end %>
									<% end %>


									<!-- Product AS Options Selection -->
									<% if @product.product_as_options.size > 0 %>
										<% for pao in @product.product_as_options %>

											<div class="select-row">
												<%= select_product_as_options(pao, "cart_item[product_as_option_values][][id]", nil) %>
												<span class="arrow">arrow</span>
											</div>

										<% end %>
									<% end %>
									
									<div class="input-row">
										<label for="qty12">Qty:</label>
										<%= f.text_field :qty, :id => 'qty12' %>
										<%= link_to 'Shipping Cart', "javascript:document.forms['cart_form_popup_#{rproduct.id}'].submit();", :class => 'btn' %>
										<span class="arrow">arrow</span>
									</div>
									<input type="submit" value="Submit" class="hidden" />
								</fieldset>
							<% end %>
						</div>
					</div>
					<div class="column">
						<%= image_tag rproduct.product_image(:list), :alt => rproduct.product_name %>
						
						<!--
						<span class="stars">stars</span>
						<p>(based on <a href="#">305 reviews</a>)</p>
						<ul>
							<li><a href="#">write a review</a></li>
							<li><a href="#">see all</a></li>
						</ul>
						-->
						
						<div class="link-box">
							<a href="#">save to my Wish LIst</a>
							<a href="#">add to my Registry</a>
						</div>
					</div>
				</div>
			</div>
			<div class="popup-btm"></div>
		</div>
		
	
	<% end %>
	
<% end %>