<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>

<%= will_paginate(@gift_cards) %>

<div class="std_box span-16">
	
	<h3 class="std_box_heading">gift cards</h3>
	
	<div class="std_box_content">
		
		<% if @gift_cards.empty? %>
			
			<h3>No gift cards were found</h3>
		
		<% else %>

			<table class="std_box_table">
				<thead>
			  		<tr>
			    		<th>Card #</th>
			    		<th>PIN #</th>
			    		<th class="center">Original</th>
			    		<th class="center">Current</th>
			    		<th class="center">Expiration</th>
						<th colspan="3" class="center">Manage</th>
			  		</tr>
				</thead>
				<tbody>

				<% for gift_card in @gift_cards %>
			  		<tr>
			    		<td><%=h gift_card.giftcard_number %></td>
			    		<td><%=h gift_card.giftcard_pin %></td>
			    		<td class="center"><%=h gift_card.current_amount %></td>
			    		<td class="center"><%=h gift_card.original_amount %></td>						
			    		<td class="center">
							<% if gift_card.expires %>
								<%= gift_card.expiration_date.to_time.to_s(:mdY) %>
							<% else %>
								NONE
							<% end %>
						</td>
			    		<td class="center"><%= link_to 'View', admin_gift_card_path(gift_card), :class => "tbl_lnk_show" %></td>
			    		<td class="center"><%= link_to 'Edit', edit_admin_gift_card_path(gift_card), :class => "tbl_lnk_edit" %></td>
			    		<td class="center"><%= link_to 'Delete', admin_gift_card_path(gift_card), :confirm => 'Are you sure?', :method => :delete, :class => "tbl_lnk_destroy" %></td>
			  		</tr>
			<% end %>

				</tbody>
			</table>
		
		<% end %>
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->


<div class="span-8 last">
<div class="std_box">
	
	<h3 class="std_box_heading">Search</h3>
	
	<div class="std_box_content">
		
		<% form_for(:search, :url => admin_giftcard_search_path, :html => {:method => :get}) do |f| %>
		
			<div class="field">
				<%= f.text_field :search_term, :class => 'textfield', 
					:value => (params[:search] ? params[:search][:search_term] : "") %>
				<%= f.label :search_term, 'Gift Card Number' %>
			</div>

			
			<div class="field">
				<%= link_to '<span>Search</span>', 'javascript:document.forms[0].submit()', :class => 'button' %>
			</div>
			
			<div class="clear"></div>
		
		<% end %>
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->

<%= link_to '<span>New gift card</span>', new_admin_gift_card_path, :class => 'button positive' %>
</div>



