<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>

<div class="std_box span-24">
<div class="std_box">
	
	<h3 class="std_box_heading">Products Sold - Date Range</h3>
	
	<div class="std_box_content">
		

		<% form_tag :action => :products_sold do %>
		

		<div class="field shorter">
			<%= text_field_tag :from_date, @from_date.strftime("%m/%d/%Y"), :class => 'textfield' %>
			<label>From Date: <span>(Def: 1st month ago)</span></label>
		</div>
		
		<div class="field shorter">
			<%= text_field_tag :to_date, @to_date.strftime("%m/%d/%Y"), :class => 'textfield' %>
			<label>To Date: <span>(Def: today)</span></label>
		</div>
		
		<div class="field check">
			<label class="check">Inventoried Products Only:</label>
			<%= check_box_tag "inv_only", true, true, :class => 'check' %>
		</div>
		
		<div class="field">
			<%= link_to '<span>Search</span>', 'javascript:document.forms[0].submit()', 
					:class => 'button', :style => "margin-top: -1px;" %>
		</div>
		
		<div class="clear"></div>

		<% end %>

		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->
</div>
<div class="clear"></div>

