<div class="variation">
	
	<% pre = "product[product_variation_attributes]"%>
	
	<% index = rand(99999)%>
	<% fields_for "#{pre}[#{index}]", product_variation, :index => nil do |v| %>
	

		<% if product_variation.new_record? %>
			<%= link_to_function "delete", "$(this).parents('.variation').remove();", 
				:class => "del_variation_link" %>
		<% else %>
			<%= link_to_function "delete", "mark_for_destroy(this, '.variation');",
			 	:class => "del_variation_link" %>
			<%= v.hidden_field :id, :index => nil %>
			<%= v.hidden_field :should_destroy, :index => nil, :class => 'should_destroy' %>
		<% end %>

		<div class="clear"></div>
		
		
		<h4>General Information</h4>
		<div class="field shorter">
			<%= v.text_field :title, :class => 'textfield title' %>
			<%= v.label :title, nil, :for => "#{pre}__title" %>
		</div>
		
		<div class="field shorter">
			<%= v.text_field :qty_on_hand, :class => 'textfield qty_on_hand' %>
			<%= v.label :qty_on_hand, nil, :for => "#{pre}__qty_on_hand" %>
		</div>
		
		<div class="field shorter">
			<%= v.text_field :qty_on_hold, :class => 'textfield qty_on_hold' %>
			<%= v.label :qty_on_hold, nil, :for => "#{pre}__qty_on_hold" %>
		</div>
		
		<div class="field shorter">
			<%= v.text_field :reorder_qty, :class => 'textfield reorder_qty' %>
			<%= v.label :reorder_qty, nil, :for => "#{pre}__reorder_qty" %>
		</div>
		
		<div class="clear"></div>
		
		<div class="field shorter">
			<%= v.text_field :variation_group, :class => 'textfield variation_group' %>
			<%= v.label :variation_group, nil, :for => "#{pre}__variation_group" %>
		</div>
		
		<div class="field shorter">
			<%= v.text_field :product_number, :class => 'textfield product_number' %>
			<%= v.label :product_number, nil, :for => "#{pre}__product_number" %>
		</div>
		
		<div class="field shortest">
			<%= v.text_field :manufacturer_number, :class => 'textfield manufacturer_number' %>
			<%= v.label :manufacturer_number, 'MFG #', :for => "#{pre}__manufacturer_number" %>
		</div>
		
		
		<div class="field shorter">
			<%= v.select :visible, [["Yes", 1], ["No", 0]].collect {|x| [x.first, x.last]}, {:selected => (product_variation.visible ? 1 : 0)} %>
			<%= v.label :visible %>
		</div>
		<div class="clear"></div>
		
		<div class="field shorter">
			<%= v.text_field :upc, :class => 'textfield upc' %>
			<%= v.label :upc, nil, :for => "#{pre}__upc" %>
		</div>
		<div class="clear"></div>
		
		<div class="field">
			<label>Sold Count: <%= product_variation.sold_count %></label>
		</div>
		

		<div class="clear"></div>
		

		
		<h4>Prices</h4>
		<div class="field shorter">
			<%= v.text_field :wholesale_price, :class => 'textfield wholesale_price' %>
			<%= v.label :wholesale_price, nil, :for => "#{pre}__wholesale_price" %>
		</div>
		
		<div class="field shorter">
			<%= v.text_field :freight_in_price, :class => 'textfield freight_in_price' %>
			<%= v.label :freight_in_price, "Inbound Freight Cost", :for => "#{pre}__freight_in_price" %>
		</div>
		
		<div class="field shorter">
			<%= v.text_field :drop_ship_fee, :class => 'textfield drop_ship_fee' %>
			<%= v.label :drop_ship_fee, nil, :for => "#{pre}__drop_ship_fee" %>
		</div>
		
		<div class="field shorter">
			<%= v.text_field :shipping_in_price, :class => 'textfield shipping_in_price' %>
			<%= v.label :shipping_in_price, nil, :for => "#{pre}__shipping_in_price" %>
		</div>
		
		<div class="field mini">
			<%= v.text_field :markup, :class => 'textfield markup' %>
			<%= v.label :markup, nil, :for => "#{pre}__markup" %>
		</div>
		
		<div class="clear"></div>
		
		<div class="field shorter">
			<%= v.text_field :list_price, :class => 'textfield list_price' %>
			<%= v.label :list_price, nil, :for => "#{pre}__list_price" %>
		</div>
		
		<div class="field shorter">
			<h5>Total Wholesale: <span class="total_wholesale_price"><%= product_variation.total_wholesale_price %></span></h5>
		</div>
		
		<div class="field shorter">
			<h5>Retail Price: <span class="retail_price"><%= product_variation.retail_price %></span></h5>
		</div>
		
		<div class="field shorter">
			<h5>Total Retail: <span class="total_retail_price"><%= product_variation.total_retail_price %></span></h5>
		</div>
		
		<div class="field shorter">
			<h5>Rounded Retail: <span class="rounded_retail_price"><%= product_variation.rounded_retail_price %></span></h5>
		</div>
		
		
		
		
		<div class="clear"></div>

		
		<h4>Warehouse Location</h4>
		<div class="field shorter">
			<%= v.text_field :wh_row, :class => "textfield wh_row" %>
			<%= v.label :wh_row, 'Row', :for => "#{pre}__wh_row" %>
		</div>
		
		<div class="field shorter">
			<%= v.text_field :wh_bay, :class => 'textfield wh_bay' %>
			<%= v.label :wh_bay, 'Bay', :for => "#{pre}__wh_bay" %>
		</div>
		
		<div class="field shorter">
			<%= v.text_field :wh_shelf, :class => 'textfield wh_shelf' %>
			<%= v.label :wh_shelf, 'Shelf', :for => "#{pre}__wh_shelf" %>
		</div>
		
		<div class="field shorter">
			<%= v.text_field :wh_product, :class => 'textfield wh_product' %>
			<%= v.label :wh_product, 'Product', :for => "#{pre}__wh_product" %>
		</div>
		
		<div class="clear"></div>
		
		
		

		<h4>Packaging</h4>
		
		<%= link_to_remote "Add Package", 
			:url => {:action => :add_v_package, :index => index} %>
		
			
		<div id="v_product_packages_<%= index %>" class="v_product_packages">
	  		<%= render :partial => 'product_package', :collection => product_variation.product_packages, 
					:locals => {:index => index} %>
	    </div>

		
		<h4>Variation Image</h4>
		
		<div class="field">
			<%= v.hidden_field :image, :value => "", :class => "variation_image_holder" %>
			<%= v.file_field :image, :class => "textfield file_field variation_image" %>
			<%= v.label :image %>
		</div>
		
		<% if product_variation.image.file? %>
			<div class="field">
				<%= link_to image_tag(product_variation.image(:thumb), :class => 'product_image_preview'),
				 	product_variation.image(:large), :target => "_blank" %>
			</div>
		<% end %>
		<div class="clear"></div>
		
		
		
		
		
		<h4>Sears - Name / Attributes</h4>
	
		<% if product_variation.product && !product_variation.product.subcategories.empty? %>
			<% if sears_cat = product_variation.product.subcategories.first.third_party_cat_obj(ThirdPartyCategory::SEARS) %>
			
				<% if sears_cat.third_party_variations.size == 0 %>
					<p>No Sears attributes available for mapping.</p>
				<% else %>
			
					<div class="field long sears_variation_name" id="sears_variation_name_<%= product_variation.id %>">
						<%= v.select :sears_variation_name, sears_cat.third_party_variations.collect {|x| [x.name, x.name]},
						 		:include_blank => true %>
						<%= v.label :sears_variation_name %>
					</div><!-- end field -->
					<div class="field waiting"></div>
					<div class="clear"></div>
				
				
					<div class="field long sears_variation_attribute" id="sears_variation_attribute_<%= product_variation.id %>">
						<% if product_variation.sears_variation_attribute %>
							<% val = [[product_variation.sears_variation_attribute, product_variation.sears_variation_attribute]] %>
						<% else %>
							<% val =  [] %>
						<% end %>
					
						<%= v.select :sears_variation_attribute, val %>
						<%= v.label :sears_variation_attribute %>
					</div><!-- end field -->
					<div class="clear"></div>
				
					<% javascript_tag do %>
						$(document).ready(function(){
							$("#sears_variation_name_<%= product_variation.id %> select").change(function(){
								var val = encodeURIComponent($(this).val());
	
								$.ajax({
								   type: "GET",
								   url: "<%= sears_variation_attributes_admin_product_path %>",
								   data: "sears_variation_name=" + val + "&varaition_id=<%= product_variation.id %>",
								   dataType: "script",
								   beforeSend: function(xhr){
									 $("#sears_variation_attribute_<%= product_variation.id %> select").html('');
								     $("#sears_variation_name_<%= product_variation.id %>").next(".waiting").text("Please wait...");
								   },
								   success: function(data){
									 $("#sears_variation_name_<%= product_variation.id %>").next(".waiting").text("");
								   }
								 });
							
							});//end change
						});//end ready
					<% end %>
				
				<% end %>
				
			<% else %>
				<p>Sears mapping must be set for subcategory: <%= product_variation.product.subcategories.first.name %></p>
			<% end %>
		<% end %>
		
	
	
	
	<% end %>
	
</div>
<!--[eo: variation]-->