<div class="product_option">
	
	<% fields_for "product[product_option_attributes_#{i}]", object do |po| %>
	

			<div class="field">
				<%= po.text_field :option_name, :class => 'textfield' %>
				<%= po.label :option_name, "Option Name <span>#{ link_to_remote "(Add Values)", :url => {:action => :add_option_value, :id => i} }</span>" %>
			</div>
			
			
			<div class="field del_link">
				<% if object.new_record? %>
					<%= link_to_function 'delete', "$(this).parents('.product_option').remove(); $('#options_count').val($('#options_count').val()-1);" %>
				<% else %>
					<%= link_to_function 'delete', "mark_for_destroy(this, '.product_option'); $('#options_count').val($('#options_count').val()-1);" %>
					<%= po.hidden_field :id %>
					<%= po.hidden_field :should_destroy, :value => "0", :class => 'should_destroy' %>
				<% end %>
			
			</div>
			<div class="clear"></div>
			
			<div id="option_values_<%= i %>">
				<% product_option.product_option_values.each do |product_option_value| %>
					<%= render :partial => 'product_option_value', :object => product_option_value, :locals => {:j => i} %>
				<% end %>
			</div>
			
			
	<% end %>
	
	
<div class="clear"></div>
</div>
<!--[eo: additional_product_image]-->
