<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>

<%= will_paginate(@products) %>

<div class="std_box span-16">
	
	<h3 class="std_box_heading">Products</h3>
	
	<div class="std_box_content">
		
		<% if @products.empty? %>
			
			<h3>No products were found</h3>
		
		<% else %>

			<table class="std_box_table">
				<thead>
			  		<tr>
			    		<th>Product name</th>
			    		<th class="center">Visible</th>
						<th class="center">Variations</th>
						<th class="center">Price</th>
						<th colspan="3" class="center">Manage</th>
			  		</tr>
				</thead>
				<tbody>

				<% for product in @products %>
			  		<tr>
			    		<td><%=h product.product_name %></td>
			    		<td class="center"><%=h product.visible %></td>
						<td class="center"> -- </td>
						<td class="center"> -- </td>
						<td class="center"><%= link_to 'View', admin_product_path(product), :class => "tbl_lnk_show" %></td>
			    		<td class="center"><%= link_to 'Edit', edit_admin_product_path(product), :class => "tbl_lnk_edit" %></td>
			    		<td class="center"><%= link_to 'Delete', admin_product_path(product), :confirm => 'Are you sure?', :method => :delete, :class => "tbl_lnk_destroy" %></td>
			  		</tr>
			<% end %>

				</tbody>
			</table>
		
		<% end %>
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->



<div class="span-8 last">
<div class="std_box">
	
	<h3 class="std_box_heading">Search</h3>
	
	<div class="std_box_content">
		
		<% form_for(:search, :url => admin_products_search_path, :html => {:method => :get}) do |f| %>
		
			<div class="field">
				<%= f.text_field :search_term, :class => 'textfield', 
					:value => (params[:search] ? params[:search][:search_term] : "") %>
				<%= f.label :search_term, 'Product Name' %>
			</div>

			
			<div class="field">
				<%= link_to '<span>Search</span>', 'javascript:document.forms[0].submit()', :class => 'button' %>
			</div>
			
			<div class="clear"></div>
		
		<% end %>
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->

<%= link_to '<span>New Product</span>', new_admin_product_path, :class => 'button positive' %>
</div>





