<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>


<div class="std_box">
	
	<h3 class="std_box_heading">Recommendations &amp; Restrictions: <%= link_to @product.product_name, @product.default_front_url, :target => "_blank" %></h3>
	
	<div class="std_box_content">
		
		<%= render "product_menu" %>
		
		<% form_for([:admin, @product]) do |f| %>
		  <%= f.error_messages %>
		
		
		<fieldset id="restrictions">
			<legend>Restrictions</legend>
			
			<%= link_to_function 'Add A Restriction', :class => 'fieldset_add_link' do |page| 
				page.insert_html :bottom, :product_restrictions, :partial => 'product_restriction', :object => ProductRestriction.new
			end %>

			<div id="product_restrictions">
		  		<%= render :partial => 'product_restriction', :collection => @product.product_restrictions %>
		    </div>
		
		</fieldset>

		<%= hidden_field_tag :end_action, "restricted" %>

		<% end %>
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->


<%= link_to '<span>Update</span>', 'javascript:document.forms[0].submit();', :class => 'button positive' %>
<%= link_to '<span>Cancel</span>', admin_products_path, :class => 'button negative' %>
