<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>

<%= will_paginate(@quantity_discounts) %>

<div class="std_box">
	
	<h3 class="std_box_heading">quantity discounts</h3>
	
	<div class="std_box_content">
		
		<% if @quantity_discounts.empty? %>
			
			<h3>No quantity discounts were found</h3>
		
		<% else %>

			<table class="std_box_table">
				<thead>
			  		<tr>
			    		<th class="center">Type</th>
			    		<th>Message</th>
						<th>Logic</th>
						<th colspan="3" class="center">Manage</th>
			  		</tr>
				</thead>
				<tbody>

				<% for quantity_discount in @quantity_discounts %>
			  		<tr>
			    		<td class="center"><%= quantity_discount.discount_type == QuantityDiscount::PERCENT ? "%" : "$" %></td>
			    		<td><%=h quantity_discount.message %></td>
						<td><%= quantity_discount.logic_string %></td>
						<td class="center"><%= link_to 'View', admin_quantity_discount_path(quantity_discount), :class => "tbl_lnk_show" %></td>
			    		<td class="center"><%= link_to 'Edit', edit_admin_quantity_discount_path(quantity_discount), :class => "tbl_lnk_edit" %></td>
			    		<td class="center"><%= link_to 'Delete', admin_quantity_discount_path(quantity_discount), :confirm => 'Are you sure?', :method => :delete, :class => "tbl_lnk_destroy" %></td>
			  		</tr>
			<% end %>

				</tbody>
			</table>
		
		<% end %>
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->


<%= link_to '<span>New quantity discount</span>', new_admin_quantity_discount_path, :class => 'button positive' %>
