<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>


<div class="std_box">
	
	<h3 class="std_box_heading">Viewing quantity discount</h3>
	
	<div class="std_box_content">
		
		<div class="std_box_content_wrapper">
		
			
			<h3>Logic: <%= @quantity_discount.logic_string %></h3>
			
			<h3>Message: <%=h @quantity_discount.message %></h3>

					
		</div><!-- end .std_box_content_wrapper -->
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->

<%= link_to '<span>Back</span>', admin_quantity_discounts_path, :class => 'button' %>
<%= link_to '<span>Edit</span>', edit_admin_quantity_discount_path(@quantity_discount), :class => 'button' %>