<ul>
	<li>
		<%= link_to "Order History <span>Check current or view past orders</span>", account_orders_path,
		 		:class => "tab #{'active' if request.path == account_orders_path || request.path == account_all_orders_path || request.path =~ /\/account\/order\//}" %>
	</li>
	<li>
		<%= link_to "Billing &amp; Shipping <span>Update billing &amp; shipping information</span>", account_billing_path,
		 		:class => "color1 tab #{'active' if request.path == account_billing_path || request.path == account_billing_edit_path}" %>
	</li>
	<li>
		<%= link_to "Change Password <span>Choose a new password for your account</span>", account_password_path,
		 		:class => "color2 tab #{'active' if request.path == account_password_path}" %>
	</li>
	<li>
		<%= link_to "Email Preferences <span>Subscribe &amp; unsubscribe</span>", account_email_path,
		 		:class => "tab #{'active' if request.path == account_email_path || request.path == account_email_edit_path || request.path == account_email_subscribe_path}" %>
	</li>
	<li>
		<%= link_to "Check Gift Card <span>Check gift card balance or learn more</span>", account_gift_card_path, 
		 		:class => "color1 tab #{'active' if request.path == account_gift_card_path}" %>
	</li>
	<li>
		<%= link_to "Gift Registry <span>Create or update a gift registry</span>", account_gift_registries_path, 
		 		:class => "color2 tab #{'active' if request.path =~ /gift_registr/ }" %>
	</li>
	<li>
		<%= link_to "Wish List <span>Add items to your wish list</span>", account_wish_list_path,
		 		:class => "tab #{'active' if request.path == account_wish_list_path}" %>
	</li>
	<li>
		<%= link_to "Logout <span>&nbsp;</span>", logout_path, 
				:class => "color1 tab #{'active' if request.path == logout_path}" %>
	</li>
</ul>