<!-- main title -->
<div class="main-title">
	<h2 class="t-accountification">Accountification</h2>
</div>
<!-- main holder - my stuff -->
<div class="main-holder">
	<div class="featured-products">
		<div class="title tabset">
			<ul>
				<li class="first"><a class="t-my-stuff active"><img src="/images/text-mystuff.png" alt="image description" class="png" /></a></li>
			</ul>
		</div>
	</div>
	<!-- main content -->
	<div class="main-content">
		<div class="mcontent-b">
			<div class="columns-holder">
				<!-- main column -->
				<div id="m-column">
					<!-- main box -->
					<div class="mbox login">

						<div class="mbox-body">
							<div class="mbox-t">
								<div class="mbox-area">
									<div class="table-box card-holder">
										<div class="table-head table-head2">
											<strong>
												Forgot your password?  Just complete the form below.
											</strong>
										</div>
										<table class="table-body table-body2" id="forgot_pass_table">
											<tr>
												
												<td>
													<% form_for :login, :url => submit_forgot_password_path, :html => {:id => 'pw_form'} do |f| %>
														<fieldset>
															<div class="input-box">
																<p>
																	Due to the security measures we have in place we are unable to send you
																	your current password.  Instead we will reset it and email you the new password.  
																	You can then update your password from your "My Account" area after logging in.
																</p>
															</div>
															<div class="input-box">
																<%= f.text_field :email, :class => 'text', :id => 'email', :title => 'Email Address' %>
																<%= f.label :email, 'Email Address:', :for => 'email' %>
															</div>
														
															<%= link_to 'Continue', 'javascript:document.forms["pw_form"].submit();', :class => 'continue-btn' %>
												
															<input type="submit" value="Submit" class="hidden" />
														</fieldset>
													<% end %>
												</td>
												
												<td>
													<div class="banner-box">
														<img src="/images/img71.jpg" alt="image description" />
														<div class="learn">
															<div>
																<%= link_to "Learn more", learn_secure_shopping_path, :id => "learn_more_secure" %>
															</div>
														</div>
													</div>
												</td>
												
											</tr>
										</table>

									</div>
								</div>
							</div>
							<div class="mbox-b"></div>
						</div>
						<div class="mbox-body">
							<div class="mbox-t">
								<div class="mbox-area">
									<div class="table-box card-holder">
										<div class="table-head table-head2">
											<strong>SECURITY &amp; PRIVACY</strong>
										</div>
										<table class="table-body">
											<tr>
												<td>
													<%= render :partial => 'shared/secure_logo_block' %>
												</td>
												<td>
													<p>Every transaction on DormBuys.com is secure. Any personal information you give us will be handled according to our <%= link_to "Privacy Policy", privacy_policy_path %></p>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<div class="mbox-b"></div>
						</div>
					</div>
				</div>
				<!-- side column -->
				<div id="s-column">
					<%= render :partial => "shared/products_side_box", :locals => {:num_products => 2} %>
				</div>
			</div>
		</div>
	</div>
	
	
	<% content_for :front_footer_gift_blog do %>
		<%= render :partial => "shared/front_footer_gift_blog" %>
	<% end %>
	
	
</div>