<!-- main title -->
<div class="main-title">
	<h2 class="t-accountification">Accountification</h2>
</div>
<!-- main holder - my stuff -->
<div class="main-holder">
	<div class="featured-products">
		<div class="title tabset">
			<ul>
				<li class="first"><a class="t-my-account active"><img src="/images/text-myaccount.png" alt="image description" class="png" width="129" height="36" /></a></li>
			</ul>
		</div>
	</div>
	<!-- main content -->
	<div class="main-content">
		<div class="mcontent-b">
			<div class="tab-holder">
				<div class="tabset left-tabset">
					
					<%= render :partial => "account_nav" %>
					
				</div>
				<div id="m-column">
					<!-- main box -->
					<div class="mbox login">
						<div class="tabset" id="tabset">
							<ul>
								<li><a class="tab active" href="#"><span>Change Password</span><em>&nbsp;</em></a></li>
							</ul>
						</div>
						<div class="mbox-body">
							<div class="mbox-t">
								<div class="mbox-area">
									<div class="table-box card-holder">
										<div class="table-head table-head2">
											<div>
												<strong>NEW PASSWORD</strong>
											</div>
											<div>
												<strong>PASSWORD QUALITY</strong>
												<span class="db">db</span>
											</div>
										</div>
										<table class="table-body table-body2">
											<tr>
												<td>
													<em class="top-text">Enter your new password below, and then retype it to make sure it’s exactly what you wanted it to be. Better safe than sorry, right?</em>
													<% form_for @user, :url => account_update_password_path, :html => {:id => 'pw_form'} do |f| %>

														<%= f.error_messages :header_message => "Oops, looks like there was a problem" %>
														
														<fieldset>
															
															<% content_for :head do %>
																<%= javascript_include_tag "password" %>
																<% javascript_tag do %>
																function checkPassword(elem)
																{
																    var special_chars = "~!@#$%&*";

																    var pw = new Password(elem.value, special_chars);

																	var score = pw.getStrengthPercentage();
																	var percentage = (score / 100);
																	
																	var total_w = Number($(".indicator_holder").css("width").replace("px", ""));
																	var indicator_pos = Math.round((total_w * percentage));
																	if(indicator_pos == Number($(".indicator_holder").css("width").replace("px", "")))
																	{
																		indicator_pos = indicator_pos - Number($(".indicator").css("width").replace("px", ""));
																	}
																	$(".indicator").css("left", indicator_pos + "px");

																}//end checkPassword
																<% end %>
															<% end %>
															
															<div class="input-box pass">
																<%= f.password_field :password, :class => 'text text2', :onkeyup => "checkPassword(this);" %>
																<%= f.label :password, 'New Password:' %>
															</div>
															<div class="input-box pass">
																<%= f.password_field :password_confirmation, :class => 'text text2' %>
																<%= f.label :password_confirmation, 'Retype Password:' %>
															</div>
															<div class="input-box">
																<%= link_to "<span>&nbsp;Submit</span><em>&nbsp;</em>", "javascript:document.forms['pw_form'].submit();", :class => "table-btn tb-t2" %>
															</div>
															<input type="submit" value="Submit" class="hidden" />
														</fieldset>
													<% end %>
												</td>
												<td>
													<div class="pass-quality">
														<span>Sour</span>
														<span class="quality">
															<span class="indicator_bg">
																<span class="indicator_holder">
																	<span class="indicator"></span>
																</span>
															</span>
														</span>
														<span>Sweet</span>
													</div>
												</td>
											</tr>
										</table>
										<div class="bottom-box">
											<em class="good-idea">"It's a good idea to change your password every now and then."</em>
										</div>
									</div>
								</div>
							</div>
							<div class="mbox-b"></div>
						</div>
						<div class="mbox-body">
							<div class="mbox-t">
								<div class="mbox-area">
									<div class="table-box card-holder">
										<div class="table-head table-head2">
											<strong>&nbsp;</strong>
										</div>
										<table class="table-body">
											<tr>
												<td>
													<%= render :partial => "shared/secure_logo_block" %>
												</td>
												<td>
													<p><strong>Security &amp; Privacy:</strong><br />Every transaction on DormBuys.com is secure. Any personal information you give us will be handled according to our <a href="#">Privacy Policy</a></p>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<div class="mbox-b"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% content_for :front_footer_gift_blog do %>
		<%= render :partial => "shared/front_footer_gift_blog" %>
	<% end %>
</div>
