<!-- main title -->
<div class="main-title">
	<h2 class="t-accountification">Accountification</h2>
</div>
<!-- main holder - my stuff -->
<div class="main-holder">
	<div class="featured-products">
		<div class="title tabset">
			<ul>
				<li class="first"><a class="t-my-account active"><img src="/images/text-myaccount.png" alt="image description" class="png" width="129" height="36" /></a></li>
			</ul>
		</div>
	</div>
	<!-- main content -->
	<div class="main-content order-info">
		<div class="mcontent-b">
			<div class="tab-holder">
				<div class="tabset left-tabset">
					
					<%= render :partial => "account_nav" %>
					
				</div>
				<div id="m-column">
					<!-- main box -->
					<div class="mbox">
						<strong class="order-nmbr">Order # <span><%= @order.order_id %></span></strong>
						<%= link_to "Back to My Orders", account_orders_path, :class => 'back-order' %>
						<div class="tabset">
							
							<%= render :partial => "order_tabs" %>
							
						</div>
						<div class="mbox-body">
							<div class="mbox-t">
								<div class="mbox-area">
									<!-- table view orders -->
									<div class="table-box view-orders-holder">
										<div class="table-head">
											<strong class="align-c order-details">ORDER DETAILS</strong>
											<strong class="item-details">
												<span class="d-item">ITEM</span>
												<span class="d-qty align-c">QTY</span>
												<span class="d-total align-c">TOTAL</span>
											</strong>
										</div>
										<table class="table-body order-detail-info">
											<tr>
												<td class="order-details">
													<div class="order-date">
														<span>Order date:</span>
														<strong class="date"><%= @order.order_date.to_s(:friendly) %></strong>
														<dl>
															<dt>Order Number:</dt>
															<dd><%= @order.order_id %></dd>
															<dt>Shipping:</dt>
															<dd>Standard</dd>
															<dt>Order Total:</dt>
															<dd>$<%= @order.grand_total %></dd>
														</dl>
														<ul>
															<li><strong>Shipped to:</strong></li>
															<li><%= @order.shipping_first_name %> <%= @order.shipping_last_name %></li>
															<% if @order.user_profile_type_id == Order::ADDRESS_DORM %>
																<li><%= @order.dorm_ship_college_name %></li>
															<% end %>
															<li><%= @order.shipping_address %></li>
															<% if @order.shipping_address2 %>
																<% unless @order.dorm_ship_not_part %>
																	<li><%= @order.shipping_address2 %></li>
																<% end %>
															<% end %>
															<li><%= @order.shipping_city %>, <%= @order.shipping_state.abbreviation %> <%= @order.shipping_zipcode %></li>
															<li><%= @order.shipping_country.country_name %></li>
															
														</ul>
														<ul>
															<li><strong>Payment Method:</strong></li>
															<li><%= Order::PAYMENT_OPTIONS.detect {|x| x.first == @order.payment_provider_id}.last %></li>
														</ul>
														<ul>
															<li><strong>Billing Address:</strong></li>
															<li><%= @order.billing_first_name %> <%= @order.billing_last_name %></li>
															<li><%= @order.billing_address %></li>
															<li><%= @order.billing_city %>, <%= @order.billing_state.abbreviation %> <%= @order.billing_zipcode %></li>
															<li><%= @order.billing_country.country_name %></li>
															<li>tel: <%= @order.billing_phone %></li>
															<li><%= @order.email %></li>
														</ul>
														<ul>
															<a name="tracking"></a>
															<li><strong>Tracking Numbers:</strong></li>
															<% if @order.shipping_numbers.empty? %>
																<li>no tracking numbers posted yet</li>
															<% else %>
																<% @order.shipping_numbers.each do |shipping_number| %>
																	<li><%= link_to shipping_number.tracking_number, shipping_number.tracking_url, :target => "_blank" %></li>
																<% end %>
															<% end %>
														</ul>
													</div>
												</td>
												<td class="item-details bnone">
													<div class="col-holder">
														<div class="item-list-info">
															
															<% @order.order_line_items.each do |order_item| %>
															<div class="item-info">
																<em class="price d-total">$<%= order_item.total %></em>
																<em class="price d-qty"><%= order_item.quantity %></em>
																
																<strong class="item-title">
																	<% if order_item.variation && order_item.variation.product %>
																		<%= link_to order_item.item_name, order_item.variation.product.default_front_url %>
																	<% else %>
																		<%= order_item.item_name %>
																	<% end %>
																</strong>
																
																<span class="item-desc">#<%= order_item.variation.product_number %></span>
																<span class="item-desc"><%= truncate(order_item.variation.product.product_overview, :length => 40) %></span>

																<% order_item.order_line_item_options.group_by(&:option_name).each do |option, values| %>
																	<span class="item-desc"><%= option %>: <%= values.collect(&:option_value) %></span>
																<% end %>

																<% order_item.order_line_item_product_as_options.group_by(&:option_name).each do |option, values| %>
																	<span class="item-desc"><%= option %>: <%= values.collect(&:display_value) %></span>
																<% end %>
															</div>
															<% end %>
															
														</div>
														<div class="total-price">
															<div class="price-box">
																<div>
																	<ul>
																		<li><em>SUBTOTAL:</em> <span>$<%= @order.subtotal %></span></li>
																		<li><em>SHIPPING:</em> <span>$<%= @order.shipping %></span></li>
																		<li><em>TAX:</em> <span>$<%= @order.tax %></span></li>
																		<li><em>COUPONS:</em> <span>-$<%= @order.total_coupon %></span></li>
																		<li><em>GIFT&nbsp;CARDS:</em> <span>-$<%= @order.total_giftcards %></span></li>
																		<li><em>DISCOUNTS:</em> <span>-$<%= @order.total_discounts %></span></li>
																	</ul>
																</div>
															</div>
															<div class="total-box">
																<em>TOTAL: <span>$<%= @order.grand_total %></span></em>
															</div>
															<div class="btns-area">
																<%= link_to "<span>Print Receipt</span><em>&nbsp;</em>", account_view_order_invoice_path(@order), :class => "table-btn tb-t2", :target => "_blank" %>
																<%= link_to "Return an Item", returns_path, :class => 'return' %>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<div class="mbox-b"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% content_for :front_footer_gift_blog do %>
		<%= render :partial => "shared/front_footer_gift_blog" %>
	<% end %>
</div>
