<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>



<div class="std_box">
	
	<h3 class="std_box_heading">Editing vendor</h3>
	
	<div class="std_box_content">
		
		<div class="std_box_content_wrapper">
			
		<% form_for([:admin, @vendor]) do |f| %>
		
		  <%= f.error_messages %>

		  <%= render :partial => "vendor_form.html.erb", :locals => {:f => f} %>

		<% end %>

		</div><!-- end .std_box_content_wrapper -->
		
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->


<%= link_to '<span>Update</span>', 'javascript:document.forms[0].submit();', :class => 'button positive' %>
<%= link_to '<span>Cancel</span>', admin_vendors_path, :class => 'button negative' %>
