<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>

<%= will_paginate(@vendors) %>

<div class="std_box span-16">
	
	<h3 class="std_box_heading">vendors</h3>
	
	<div class="std_box_content">
		
		<% if @vendors.empty? %>
			
			<h3>No vendors were found</h3>
		
		<% else %>

			<table class="std_box_table">
				<thead>
			  		<tr>
			    		<th>Account number</th>
			    		<th>Company name</th>
			    		<th>Phone</th>
						<th colspan="3" class="center">Manage</th>
			  		</tr>
				</thead>
				<tbody>

				<% for vendor in @vendors %>
			  		<tr>
				    	<td><%=h vendor.account_number %></td>
			    		<td><%=h vendor.company_name %></td>
			    		<td><%=h vendor.phone %></td>
			    		<td class="center"><%= link_to 'View', admin_vendor_path(vendor), :class => "tbl_lnk_show" %></td>
			    		<td class="center"><%= link_to 'Edit', edit_admin_vendor_path(vendor), :class => "tbl_lnk_edit" %></td>
			    		<td class="center"><%= link_to 'Delete', admin_vendor_path(vendor), :confirm => 'Are you sure?', :method => :delete, :class => "tbl_lnk_destroy" %></td>
			  		</tr>
			<% end %>

				</tbody>
			</table>
		
		<% end %>
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->


<div class="span-8 last">
<div class="std_box">
	
	<h3 class="std_box_heading">Search</h3>
	
	<div class="std_box_content">
		
		<% form_for(:search, :url => admin_vendors_search_path, :html => {:method => :get}) do |f| %>
		
			<div class="field">
				<%= f.text_field :search_term, :class => 'textfield', 
					:value => (params[:search] ? params[:search][:search_term] : "") %>
				<%= f.label :search_term, 'Company Name' %>
			</div>

			<div class="field">
				<%= link_to '<span>Search</span>', 'javascript:document.forms[0].submit()', :class => 'button' %>
			</div>
			
			<div class="clear"></div>
		
		<% end %>
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->

<%= link_to '<span>New vendor</span>', new_admin_vendor_path, :class => 'button positive' %>
</div>

<div class="clear"></div>

