<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title><%= [@page_title, "Dormbuys.com"].join(" | ") %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<%= stylesheet_link_tag "all" %>
	<%= stylesheet_link_tag "sifr" %>
	<%= stylesheet_link_tag "form" %>
	<%= stylesheet_link_tag "colorbox" %>
	
	
	<%= javascript_include_tag "jquery-1.4.2.min.js" %>
	<%= javascript_include_tag "jquery.galleryScroll.1.5.2.js" %>
	<%= javascript_include_tag "jquery.colorbox-min.js" %>
	<%= javascript_include_tag "main.js" %>
	<%= javascript_include_tag "sifr.js" %>
	<%= javascript_include_tag "form.js" %>
	<%= javascript_include_tag "front.js" %>
	
	<!--[if lt IE 8]><%= stylesheet_link_tag "lt8" %><![endif]-->
	<!--[if lt IE 7]><%= stylesheet_link_tag "lt7" %><![endif]-->
	
	<%= yield :head %>
	
</head>


<% cache("home_page_1", :expires_in => 5.minutes) do %>
<body>
<!-- page -->
<div id="page">
	<!-- main -->
	<div id="main">
		<h1><%= link_to 'Dormbuys.com', root_path %></h1>
		
		
		<%= render :partial => 'shared/front_main_nav' %>
<% end %>

		<% flash.each do |key, msg| %>
		    <%= content_tag :p, msg, :class => key %>
		<% end %>
		
<% cache("home_page_2", :expires_in => 5.minutes) do %>		
		
		<%= render :partial => 'front/home_banner_area' %>
		
		
		<%= render :partial => 'front/home_middle_boxes' %>
		
		
		
		<!-- middle -->
		<div class="middle">
			<%= render :partial => "front/home_feat_prod_area" %>
			
			<%= render :partial => "shared/front_footer_gift_blog" %>

		</div>
		
		<%= render :partial => "shared/front_footer_green_bar" %>
	
	</div>
	
	<%= render :partial => "shared/front_main_header" %>
	
	<div class="popup-holder">
		<%= yield :home_banner_product_popups %>
	</div>

</div>
<%= render :partial => "shared/front_main_footer_nav" %>


<%= yield :eo_page %>
<%= render :partial => "shared/tracking_codes" %>

</body>
<% end %>
</html>