<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>

<%= will_paginate(@sears_transmissions) %>

<div class="std_box">
	
	<h3 class="std_box_heading">Sears Transmissions</h3>
	
	<div class="std_box_content">
		
		<% if @sears_transmissions.empty? %>
			
			<h3>No sears transmissions were found</h3>
		
		<% else %>

			<table class="std_box_table">
				<thead>
			  		<tr>
                        <th>Sent at</th>
                        <th>Variations</th>
                        <th>Description</th>
                        <th>Sync inventory</th>
                        <th class="center">Manage</th>
			  		</tr>
				</thead>
				<tbody>

				<% for sears_transmission in @sears_transmissions %>
			  		<tr>
			            <td><%=h sears_transmission.sent_at.to_s(:full_short) %></td>
                        <td><%=h sears_transmission.variation_count %></td>
                        <td><%=h sears_transmission.description %></td>
                        <td><%= sears_transmission.sync_inventory ? "YES" : "NO" %></td>
						<!--
					    <td class="center"><%= link_to 'View', admin_sears_transmission_path(sears_transmission), :class => "tbl_lnk_show" %></td>
						-->
                        <td class="center"><%= link_to 'Edit', edit_admin_sears_transmission_path(sears_transmission), :class => "tbl_lnk_edit" %></td>
							
						<!--
                        <td class="center"><%= link_to 'Delete', admin_sears_transmission_path(sears_transmission), :confirm => 'Are you sure?', :method => :delete, :class => "tbl_lnk_destroy" %></td>
						-->
			  		</tr>
			<% end %>

				</tbody>
			</table>
		
		<% end %>
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->

<!--
<%= link_to '<span>New Sears Transmission</span>', new_admin_sears_transmission_path, :class => 'button positive' %>
-->
